In [39]:
# https://github.com/swar/nba_api/issues/124

In [40]:
import pandas as pd
from time import time
from nba_api.stats.static import players
from nba_api.stats.endpoints import commonplayerinfo
from nba_api.stats.endpoints import playercareerstats
from nba_api.stats.endpoints import playerawards

In [41]:
from nba_api.stats.library import http

print(http.STATS_HEADERS)

{'Host': 'stats.nba.com', 'User-Agent': 'Mozilla/5.0 (Windows NT 10.0; Win64; x64; rv:72.0) Gecko/20100101 Firefox/72.0', 'Accept': 'application/json, text/plain, */*', 'Accept-Language': 'en-US,en;q=0.5', 'Accept-Encoding': 'gzip, deflate, br', 'x-nba-stats-origin': 'stats', 'x-nba-stats-token': 'true', 'Connection': 'keep-alive', 'Referer': 'https://stats.nba.com/', 'Pragma': 'no-cache', 'Cache-Control': 'no-cache'}

In [42]:
pd.set_option('display.max_rows', 500)
pd.set_option('display.max_columns', 500)

In [43]:
# function which collects player seasons and drops before modern 3 point era and insufficient data

def collect_seasons(id):
    season_filter = 1998 # the first year of the modern 3 point era

    career = playercareerstats.PlayerCareerStats(player_id=id)
    df = career.get_data_frames()[0]

    df['SEASON_ID'] = df['SEASON_ID'].apply(lambda x: int(x[:4]) + 1) #make seasons numeric type
    df = df[df['SEASON_ID'] >= season_filter] # drop any seasons before modern era

    return df

In [44]:
# function which gets player awards

# fun fact and test case: dominique wilkins in 94 made an All-NBA team
# but played for two teams that year

def collect_awards(id):
    awards = playerawards.PlayerAwards(player_id=id)

    df = awards.get_data_frames()[0]

    df = df[df['DESCRIPTION'] == 'All-NBA']
    df = df[['SEASON', 'ALL_NBA_TEAM_NUMBER']]

    df['SEASON'] = df['SEASON'].apply(lambda x: int(x[:4]) + 1) #make seasons numeric type

    return df

In [45]:
# function which joins the awards and seasons

def stat_join(seasons, awards):
    df = seasons.join(awards.set_index('SEASON'), on='SEASON_ID')
    df['ALL_NBA_TEAM_NUMBER'] = df['ALL_NBA_TEAM_NUMBER'].fillna(0)
    return df

In [46]:
# function which loops through each player

nba_players = players.get_players()

In [47]:
len(nba_players)

4900

In [48]:
nba_players[0]

{'id': 76001,
 'full_name': 'Alaa Abdelnaby',
 'first_name': 'Alaa',
 'last_name': 'Abdelnaby',
 'is_active': False}

In [49]:
len(nba_players[4892: 4900])

8

In [52]:
def collect_chunk(nba_players, start_point, chunk_size):
    print(f'start point = {start_point}')
    final_df = pd.DataFrame()
    for count, player in enumerate(nba_players[start_point:start_point + chunk_size]):
        id = player['id']
        name = player['full_name']

        start = time()
        print(f"Processing {name}...")

        seasons = collect_seasons(id)
        awards = collect_awards(id)
        df = stat_join(seasons, awards)
        df['NAME'] = player['full_name']

        if count == 0:
            final_df = df
        else:
            final_df = pd.concat([final_df, df])
        
        end = time()
        print(f"Took {end - start} seconds to finish count number {count}")

    return final_df

In [54]:
chunk_size = 100
start_point = 3300

while start_point < len(nba_players):
    if start_point + chunk_size > len(nba_players):
        chunk_size = len(nba_players) - start_point
    print(f'collecting chunk {start_point} through {start_point + chunk_size}')
    df = collect_chunk(nba_players, start_point, chunk_size)
    df.to_csv(f'../data/chunks/players_{start_point}_to_{start_point + chunk_size}.csv')
    start_point = start_point + chunk_size

collecting chunk 2100 through 2200
start point = 2100
Processing Winfred Jacobs...
Took 0.6909525394439697 seconds to finish count number 0
Processing Casey Jacobsen...

/tmp/ipykernel_4467/1331416308.py:19: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  final_df = pd.concat([final_df, df])

Took 0.5616276264190674 seconds to finish count number 1
Processing Sam Jacobson...
Took 0.5572407245635986 seconds to finish count number 2
Processing Dave Jamerson...
Took 0.540339469909668 seconds to finish count number 3
Processing Aaron James...

/tmp/ipykernel_4467/1331416308.py:19: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  final_df = pd.concat([final_df, df])

Took 0.5224177837371826 seconds to finish count number 4
Processing Bernard James...
Took 0.4731872081756592 seconds to finish count number 5
Processing Damion James...
Took 0.46660757064819336 seconds to finish count number 6
Processing Gene James...

/tmp/ipykernel_4467/1331416308.py:19: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  final_df = pd.concat([final_df, df])

Took 0.4856874942779541 seconds to finish count number 7
Processing Henry James...
Took 0.44244909286499023 seconds to finish count number 8
Processing Jerome James...
Took 0.45020365715026855 seconds to finish count number 9
Processing Justin James...
Took 0.6108996868133545 seconds to finish count number 10
Processing LeBron James...
Took 0.5198028087615967 seconds to finish count number 11
Processing Mike James...
Took 0.4278295040130615 seconds to finish count number 12
Processing Mike James...
Took 0.4378218650817871 seconds to finish count number 13
Processing Tim James...
Took 0.5983645915985107 seconds to finish count number 14
Processing Antawn Jamison...
Took 0.4310891628265381 seconds to finish count number 15
Processing Harold Jamison...
Took 0.4788639545440674 seconds to finish count number 16
Processing John Janisch...

/tmp/ipykernel_4467/1331416308.py:19: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  final_df = pd.concat([final_df, df])

Took 0.493088960647583 seconds to finish count number 17
Processing Howie Janotta...

/tmp/ipykernel_4467/1331416308.py:19: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  final_df = pd.concat([final_df, df])

Took 0.3743138313293457 seconds to finish count number 18
Processing Jaime Jaquez Jr....
Took 0.655778169631958 seconds to finish count number 19
Processing Marko Jaric...
Took 0.4499063491821289 seconds to finish count number 20
Processing Tony Jaros...

/tmp/ipykernel_4467/1331416308.py:19: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  final_df = pd.concat([final_df, df])

Took 0.4623861312866211 seconds to finish count number 21
Processing DeJon Jarreau...
Took 0.46128225326538086 seconds to finish count number 22
Processing Sarunas Jasikevicius...
Took 0.45638394355773926 seconds to finish count number 23
Processing Nathan Jawai...
Took 0.36272263526916504 seconds to finish count number 24
Processing Buddy Jeannette...

/tmp/ipykernel_4467/1331416308.py:19: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  final_df = pd.concat([final_df, df])

Took 0.48348259925842285 seconds to finish count number 25
Processing Abdul Jeelani...
Took 0.5856237411499023 seconds to finish count number 26
Processing Chris Jefferies...
Took 0.5465152263641357 seconds to finish count number 27
Processing Othyus Jeffers...
Took 0.4736356735229492 seconds to finish count number 28
Processing Al Jefferson...
Took 0.41414952278137207 seconds to finish count number 29
Processing Amile Jefferson...
Took 1.9703283309936523 seconds to finish count number 30
Processing Cory Jefferson...
Took 1.6421043872833252 seconds to finish count number 31
Processing Dontell Jefferson...
Took 1.6370325088500977 seconds to finish count number 32
Processing Richard Jefferson...
Took 2.6841609477996826 seconds to finish count number 33
Processing DaQuan Jeffries...
Took 2.5360589027404785 seconds to finish count number 34
Processing Jared Jeffries...
Took 2.8582684993743896 seconds to finish count number 35
Processing Charles Jenkins...
Took 1.5630974769592285 seconds to finish count number 36
Processing Horace Jenkins...
Took 1.7642076015472412 seconds to finish count number 37
Processing John Jenkins...
Took 1.8762860298156738 seconds to finish count number 38
Processing Brandon Jennings...
Took 2.774484395980835 seconds to finish count number 39
Processing Keith Jennings...
Took 3.1217854022979736 seconds to finish count number 40
Processing Chris Jent...
Took 1.585463047027588 seconds to finish count number 41
Processing Les Jepsen...
Took 1.2551722526550293 seconds to finish count number 42
Processing Jonas Jerebko...
Took 1.7303416728973389 seconds to finish count number 43
Processing Ty Jerome...
Took 0.6224477291107178 seconds to finish count number 44
Processing Curtis Jerrells...

/tmp/ipykernel_4467/1331416308.py:19: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  final_df = pd.concat([final_df, df])

Took 4.324501276016235 seconds to finish count number 45
Processing Grant Jerrett...
Took 2.738166570663452 seconds to finish count number 46
Processing Pooh Jeter...
Took 1.6132256984710693 seconds to finish count number 47
Processing Isaiah Joe...
Took 0.5390830039978027 seconds to finish count number 48
Processing Britton Johnsen...
Took 2.978045701980591 seconds to finish count number 49
Processing Alexander Johnson...
Took 2.5506248474121094 seconds to finish count number 50
Processing Alize Johnson...
Took 2.0572524070739746 seconds to finish count number 51
Processing Amir Johnson...
Took 2.0632588863372803 seconds to finish count number 52
Processing Andy Johnson...

/tmp/ipykernel_4467/1331416308.py:19: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  final_df = pd.concat([final_df, df])

Took 4.6653783321380615 seconds to finish count number 53
Processing Anthony Johnson...
Took 2.552659749984741 seconds to finish count number 54
Processing Armon Johnson...
Took 2.4039716720581055 seconds to finish count number 55
Processing Arnie Johnson...

/tmp/ipykernel_4467/1331416308.py:19: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  final_df = pd.concat([final_df, df])

Took 1.7290806770324707 seconds to finish count number 56
Processing Avery Johnson...
Took 1.8040895462036133 seconds to finish count number 57
Processing BJ Johnson...
Took 1.6399798393249512 seconds to finish count number 58
Processing Brice Johnson...
Took 1.6539933681488037 seconds to finish count number 59
Processing Buck Johnson...
Took 2.484215259552002 seconds to finish count number 60
Processing Cameron Johnson...
Took 0.674302339553833 seconds to finish count number 61
Processing Carldell Johnson...
Took 2.4288957118988037 seconds to finish count number 62
Processing Charlie Johnson...

/tmp/ipykernel_4467/1331416308.py:19: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  final_df = pd.concat([final_df, df])

Took 1.3581476211547852 seconds to finish count number 63
Processing Chris Johnson...
Took 2.4892232418060303 seconds to finish count number 64
Processing Chris Johnson...
Took 1.874164342880249 seconds to finish count number 65
Processing Clay Johnson...
Took 1.612379550933838 seconds to finish count number 66
Processing Clemon Johnson...
Took 1.8368418216705322 seconds to finish count number 67
Processing Dakari Johnson...
Took 4.630030870437622 seconds to finish count number 68
Processing Darryl Johnson...
Took 1.8043591976165771 seconds to finish count number 69
Processing Dave Johnson...
Took 1.433107614517212 seconds to finish count number 70
Processing David Johnson...

/tmp/ipykernel_4467/1331416308.py:19: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  final_df = pd.concat([final_df, df])

Took 4.10999321937561 seconds to finish count number 71
Processing David Johnson...
Took 1.530935525894165 seconds to finish count number 72
Processing DeMarco Johnson...
Took 2.393794298171997 seconds to finish count number 73
Processing Dennis Johnson...
Took 2.405461311340332 seconds to finish count number 74
Processing DerMarr Johnson...
Took 2.353391647338867 seconds to finish count number 75
Processing Eddie Johnson...
Took 2.2726669311523438 seconds to finish count number 76
Processing Eddie Johnson...
Took 1.534114122390747 seconds to finish count number 77
Processing Eric Johnson...
Took 3.8010153770446777 seconds to finish count number 78
Processing Ervin Johnson...
Took 1.706233263015747 seconds to finish count number 79
Processing Frank Johnson...
Took 2.459885835647583 seconds to finish count number 80
Processing George Johnson...

/tmp/ipykernel_4467/1331416308.py:19: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  final_df = pd.concat([final_df, df])

Took 1.6926534175872803 seconds to finish count number 81
Processing George Johnson...
Took 2.427989959716797 seconds to finish count number 82
Processing George Johnson...
Took 1.936418056488037 seconds to finish count number 83
Processing Gus Johnson...

/tmp/ipykernel_4467/1331416308.py:19: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  final_df = pd.concat([final_df, df])

Took 1.515956163406372 seconds to finish count number 84
Processing Harold Johnson...

/tmp/ipykernel_4467/1331416308.py:19: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  final_df = pd.concat([final_df, df])

Took 2.257636070251465 seconds to finish count number 85
Processing Ivan Johnson...
Took 1.4249563217163086 seconds to finish count number 86
Processing JaJuan Johnson...
Took 1.898026943206787 seconds to finish count number 87
Processing Jalen Johnson...
Took 0.558729887008667 seconds to finish count number 88
Processing James Johnson...
Took 0.5634846687316895 seconds to finish count number 89
Processing Joe Johnson...
Took 2.0006539821624756 seconds to finish count number 90
Processing John Johnson...
Took 4.813929080963135 seconds to finish count number 91
Processing Kannard Johnson...
Took 1.7357738018035889 seconds to finish count number 92
Processing Keldon Johnson...
Took 1.5382366180419922 seconds to finish count number 93
Processing Ken Johnson...
Took 2.380220890045166 seconds to finish count number 94
Processing Ken Johnson...

/tmp/ipykernel_4467/1331416308.py:19: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  final_df = pd.concat([final_df, df])

Took 1.7515907287597656 seconds to finish count number 95
Processing Keon Johnson...
Took 0.5815050601959229 seconds to finish count number 96
Processing Kevin Johnson...
Took 1.5780138969421387 seconds to finish count number 97
Processing Keyontae Johnson...
Took 0.5674333572387695 seconds to finish count number 98
Processing Larry Johnson...
Took 4.611421823501587 seconds to finish count number 99
collecting chunk 2200 through 2300
start point = 2200
Processing Larry Johnson...
Took 2.6580188274383545 seconds to finish count number 0
Processing Lee Johnson...
Took 4.547337770462036 seconds to finish count number 1
Processing Linton Johnson...

/tmp/ipykernel_4467/1331416308.py:19: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  final_df = pd.concat([final_df, df])

Took 1.5873467922210693 seconds to finish count number 2
Processing Lynbert Johnson...

/tmp/ipykernel_4467/1331416308.py:19: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  final_df = pd.concat([final_df, df])

Took 1.4544219970703125 seconds to finish count number 3
Processing Magic Johnson...
Took 1.8534786701202393 seconds to finish count number 4
Processing Marques Johnson...
Took 2.462610960006714 seconds to finish count number 5
Processing Mickey Johnson...
Took 4.1628258228302 seconds to finish count number 6
Processing Neil Johnson...

/tmp/ipykernel_4467/1331416308.py:19: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  final_df = pd.concat([final_df, df])

Took 3.019216775894165 seconds to finish count number 7
Processing Nick Johnson...
Took 1.6167817115783691 seconds to finish count number 8
Processing Ollie Johnson...
Took 2.757955312728882 seconds to finish count number 9
Processing Omari Johnson...
Took 1.9240729808807373 seconds to finish count number 10
Processing Orlando Johnson...
Took 2.690525531768799 seconds to finish count number 11
Processing Reggie Johnson...
Took 1.738983392715454 seconds to finish count number 12
Processing Rich Johnson...

/tmp/ipykernel_4467/1331416308.py:19: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  final_df = pd.concat([final_df, df])

Took 2.472043514251709 seconds to finish count number 13
Processing Ron Johnson...

/tmp/ipykernel_4467/1331416308.py:19: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  final_df = pd.concat([final_df, df])

Took 1.903759241104126 seconds to finish count number 14
Processing Stanley Johnson...
Took 2.5584030151367188 seconds to finish count number 15
Processing Steffond Johnson...
Took 5.527924299240112 seconds to finish count number 16
Processing Steve Johnson...
Took 1.579524278640747 seconds to finish count number 17
Processing Trey Johnson...
Took 2.644995927810669 seconds to finish count number 18
Processing Tyler Johnson...
Took 2.4582972526550293 seconds to finish count number 19
Processing Vinnie Johnson...
Took 2.6371078491210938 seconds to finish count number 20
Processing Wesley Johnson...
Took 1.437845230102539 seconds to finish count number 21
Processing Darius Johnson-Odom...
Took 1.4594779014587402 seconds to finish count number 22
Processing Nate Johnston...
Took 4.582176685333252 seconds to finish count number 23
Processing Neil Johnston...

/tmp/ipykernel_4467/1331416308.py:19: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  final_df = pd.concat([final_df, df])

Took 1.5583574771881104 seconds to finish count number 24
Processing Jim Johnstone...
Took 2.462373971939087 seconds to finish count number 25
Processing Nikola Jokic...
Took 0.6200151443481445 seconds to finish count number 26
Processing Howie Jolliff...

/tmp/ipykernel_4467/1331416308.py:19: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  final_df = pd.concat([final_df, df])

Took 1.5041310787200928 seconds to finish count number 27
Processing Alvin Jones...
Took 1.4281063079833984 seconds to finish count number 28
Processing Anthony Jones...
Took 2.2519071102142334 seconds to finish count number 29
Processing Askia Jones...
Took 2.292672634124756 seconds to finish count number 30
Processing Bill Jones...
Took 2.46462082862854 seconds to finish count number 31
Processing Bobby Jones...
Took 1.6106841564178467 seconds to finish count number 32
Processing Bobby Jones...
Took 1.6479878425598145 seconds to finish count number 33
Processing Caldwell Jones...
Took 1.8432252407073975 seconds to finish count number 34
Processing Carlik Jones...
Took 1.4618315696716309 seconds to finish count number 35
Processing Charles Jones...
Took 1.9145081043243408 seconds to finish count number 36
Processing Charles Jones...
Took 2.0692808628082275 seconds to finish count number 37
Processing Charles R. Jones...
Took 1.6916303634643555 seconds to finish count number 38
Processing Colby Jones...
Took 0.7194201946258545 seconds to finish count number 39
Processing Dahntay Jones...
Took 1.6406381130218506 seconds to finish count number 40
Processing Damian Jones...
Took 0.6140971183776855 seconds to finish count number 41
Processing Damon Jones...
Took 1.7435033321380615 seconds to finish count number 42
Processing DeQuan Jones...
Took 2.381155252456665 seconds to finish count number 43
Processing Dominique Jones...
Took 1.624455213546753 seconds to finish count number 44
Processing Dontae' Jones...
Took 1.7277727127075195 seconds to finish count number 45
Processing Dwayne Jones...
Took 1.7426502704620361 seconds to finish count number 46
Processing Dwight Jones...
Took 1.7323627471923828 seconds to finish count number 47
Processing Earl Jones...

/tmp/ipykernel_4467/1331416308.py:19: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  final_df = pd.concat([final_df, df])

Took 2.179277181625366 seconds to finish count number 48
Processing Eddie Jones...
Took 1.5622787475585938 seconds to finish count number 49
Processing Edgar Jones...
Took 1.3814866542816162 seconds to finish count number 50
Processing Fred Jones...
Took 1.539421796798706 seconds to finish count number 51
Processing Herbert Jones...
Took 0.4580368995666504 seconds to finish count number 52
Processing Jake Jones...

/tmp/ipykernel_4467/1331416308.py:19: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  final_df = pd.concat([final_df, df])

Took 1.5232815742492676 seconds to finish count number 53
Processing Jalen Jones...
Took 2.521284341812134 seconds to finish count number 54
Processing James Jones...
Took 1.7781095504760742 seconds to finish count number 55
Processing Jemerrio Jones...
Took 2.104926347732544 seconds to finish count number 56
Processing Jimmy Jones...

/tmp/ipykernel_4467/1331416308.py:19: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  final_df = pd.concat([final_df, df])

Took 4.231203556060791 seconds to finish count number 57
Processing Johnny Jones...

/tmp/ipykernel_4467/1331416308.py:19: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  final_df = pd.concat([final_df, df])

Took 1.6377055644989014 seconds to finish count number 58
Processing Jumaine Jones...
Took 1.5334742069244385 seconds to finish count number 59
Processing K.C. Jones...

/tmp/ipykernel_4467/1331416308.py:19: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  final_df = pd.concat([final_df, df])

Took 3.763543128967285 seconds to finish count number 60
Processing Kai Jones...
Took 3.396038770675659 seconds to finish count number 61
Processing Kevin Jones...
Took 2.573817014694214 seconds to finish count number 62
Processing Larry Jones...

/tmp/ipykernel_4467/1331416308.py:19: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  final_df = pd.concat([final_df, df])

Took 1.5066132545471191 seconds to finish count number 63
Processing Major Jones...
Took 2.481938123703003 seconds to finish count number 64
Processing Mark Jones...
Took 1.3261382579803467 seconds to finish count number 65
Processing Mark Jones...
Took 2.457958936691284 seconds to finish count number 66
Processing Mason Jones...
Took 1.4433858394622803 seconds to finish count number 67
Processing Nick Jones...

/tmp/ipykernel_4467/1331416308.py:19: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  final_df = pd.concat([final_df, df])

Took 3.271395206451416 seconds to finish count number 68
Processing Ozell Jones...
Took 1.4395129680633545 seconds to finish count number 69
Processing Popeye Jones...
Took 1.6029648780822754 seconds to finish count number 70
Processing Rich Jones...

/tmp/ipykernel_4467/1331416308.py:19: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  final_df = pd.concat([final_df, df])

Took 1.3420507907867432 seconds to finish count number 71
Processing Robin Jones...

/tmp/ipykernel_4467/1331416308.py:19: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  final_df = pd.concat([final_df, df])

Took 2.3444948196411133 seconds to finish count number 72
Processing Sam Jones...

/tmp/ipykernel_4467/1331416308.py:19: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  final_df = pd.concat([final_df, df])

Took 1.8474297523498535 seconds to finish count number 73
Processing Shelton Jones...
Took 2.4859681129455566 seconds to finish count number 74
Processing Solomon Jones...
Took 2.1164419651031494 seconds to finish count number 75
Processing Steve Jones...

/tmp/ipykernel_4467/1331416308.py:19: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  final_df = pd.concat([final_df, df])

Took 1.549199104309082 seconds to finish count number 76
Processing Terrence Jones...
Took 1.7850253582000732 seconds to finish count number 77
Processing Tre Jones...
Took 1.4824144840240479 seconds to finish count number 78
Processing Tyus Jones...
Took 0.43541908264160156 seconds to finish count number 79
Processing Wali Jones...

/tmp/ipykernel_4467/1331416308.py:19: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  final_df = pd.concat([final_df, df])

Took 1.624356985092163 seconds to finish count number 80
Processing Wallace Jones...

/tmp/ipykernel_4467/1331416308.py:19: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  final_df = pd.concat([final_df, df])

Took 2.470479965209961 seconds to finish count number 81
Processing Wil Jones...

/tmp/ipykernel_4467/1331416308.py:19: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  final_df = pd.concat([final_df, df])

Took 1.6510488986968994 seconds to finish count number 82
Processing Willie Jones...

/tmp/ipykernel_4467/1331416308.py:19: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  final_df = pd.concat([final_df, df])

Took 2.0294320583343506 seconds to finish count number 83
Processing Willie Jones...
Took 3.197263717651367 seconds to finish count number 84
Processing Perry Jones III...
Took 2.643098831176758 seconds to finish count number 85
Processing Derrick Jones Jr....
Took 0.6123480796813965 seconds to finish count number 86
Processing Adonis Jordan...
Took 2.573298931121826 seconds to finish count number 87
Processing DeAndre Jordan...
Took 1.7029805183410645 seconds to finish count number 88
Processing Eddie Jordan...
Took 1.6922705173492432 seconds to finish count number 89
Processing Jerome Jordan...
Took 2.428816318511963 seconds to finish count number 90
Processing Michael Jordan...
Took 1.8142766952514648 seconds to finish count number 91
Processing Reggie Jordan...
Took 2.6945700645446777 seconds to finish count number 92
Processing Thomas Jordan...
Took 3.8649277687072754 seconds to finish count number 93
Processing Walter Jordan...

/tmp/ipykernel_4467/1331416308.py:19: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  final_df = pd.concat([final_df, df])

Took 2.2526144981384277 seconds to finish count number 94
Processing Phil Jordon...

/tmp/ipykernel_4467/1331416308.py:19: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  final_df = pd.concat([final_df, df])

Took 1.4592912197113037 seconds to finish count number 95
Processing Johnny Jorgensen...

/tmp/ipykernel_4467/1331416308.py:19: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  final_df = pd.concat([final_df, df])

Took 2.3306026458740234 seconds to finish count number 96
Processing Noble Jorgensen...

/tmp/ipykernel_4467/1331416308.py:19: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  final_df = pd.concat([final_df, df])

Took 2.456634521484375 seconds to finish count number 97
Processing Roger Jorgensen...

/tmp/ipykernel_4467/1331416308.py:19: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  final_df = pd.concat([final_df, df])

Took 4.815607309341431 seconds to finish count number 98
Processing Cory Joseph...
Took 3.0064096450805664 seconds to finish count number 99
collecting chunk 2300 through 2400
start point = 2300
Processing Garth Joseph...
Took 3.666862964630127 seconds to finish count number 0
Processing Kris Joseph...
Took 1.5260777473449707 seconds to finish count number 1
Processing Yvon Joseph...

/tmp/ipykernel_4467/1331416308.py:19: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  final_df = pd.concat([final_df, df])

Took 1.7428889274597168 seconds to finish count number 2
Processing Nikola Jovic...
Took 1.2307579517364502 seconds to finish count number 3
Processing Jeff Judkins...
Took 1.4150807857513428 seconds to finish count number 4
Processing Johnny Juzang...
Took 0.6997847557067871 seconds to finish count number 5
Processing Mfiondu Kabengele...
Took 1.868882417678833 seconds to finish count number 6
Processing Edwin Kachan...

/tmp/ipykernel_4467/1331416308.py:19: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  final_df = pd.concat([final_df, df])

Took 1.6562914848327637 seconds to finish count number 7
Processing George Kaftan...

/tmp/ipykernel_4467/1331416308.py:19: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  final_df = pd.concat([final_df, df])

Took 2.517813205718994 seconds to finish count number 8
Processing Ed Kalafat...

/tmp/ipykernel_4467/1331416308.py:19: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  final_df = pd.concat([final_df, df])

Took 1.5426149368286133 seconds to finish count number 9
Processing Georgios Kalaitzakis...
Took 1.9384207725524902 seconds to finish count number 10
Processing Chris Kaman...
Took 1.8677268028259277 seconds to finish count number 11
Processing Frank Kaminsky...
Took 1.9245994091033936 seconds to finish count number 12
Processing Ralph Kaplowitz...

/tmp/ipykernel_4467/1331416308.py:19: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  final_df = pd.concat([final_df, df])

Took 2.3521409034729004 seconds to finish count number 13
Processing Jason Kapono...
Took 2.7909598350524902 seconds to finish count number 14
Processing Tony Kappen...

/tmp/ipykernel_4467/1331416308.py:19: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  final_df = pd.concat([final_df, df])

Took 2.4595041275024414 seconds to finish count number 15
Processing Sergey Karasev...
Took 7.78042197227478 seconds to finish count number 16
Processing Coby Karl...
Took 2.4565930366516113 seconds to finish count number 17
Processing George Karl...

/tmp/ipykernel_4467/1331416308.py:19: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  final_df = pd.concat([final_df, df])

Took 3.457042694091797 seconds to finish count number 18
Processing Ed Kasid...

/tmp/ipykernel_4467/1331416308.py:19: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  final_df = pd.concat([final_df, df])

Took 1.459686040878296 seconds to finish count number 19
Processing Mario Kasun...
Took 1.5428378582000732 seconds to finish count number 20
Processing Leo Katkaveck...

/tmp/ipykernel_4467/1331416308.py:19: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  final_df = pd.concat([final_df, df])

Took 1.6575539112091064 seconds to finish count number 21
Processing Bob Kauffman...

/tmp/ipykernel_4467/1331416308.py:19: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  final_df = pd.concat([final_df, df])

Took 2.6148345470428467 seconds to finish count number 22
Processing Sasha Kaun...
Took 1.4302988052368164 seconds to finish count number 23
Processing Wilbert Kautz...

/tmp/ipykernel_4467/1331416308.py:19: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  final_df = pd.concat([final_df, df])

Took 1.785585880279541 seconds to finish count number 24
Processing Clarence Kea...
Took 1.4916789531707764 seconds to finish count number 25
Processing Michael Kearns...

/tmp/ipykernel_4467/1331416308.py:19: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  final_df = pd.concat([final_df, df])

Took 2.385082721710205 seconds to finish count number 26
Processing Tommy Kearns...

/tmp/ipykernel_4467/1331416308.py:19: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  final_df = pd.concat([final_df, df])

Took 2.450686454772949 seconds to finish count number 27
Processing Adam Keefe...
Took 1.7065424919128418 seconds to finish count number 28
Processing Harold Keeling...

/tmp/ipykernel_4467/1331416308.py:19: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  final_df = pd.concat([final_df, df])

Took 1.3416028022766113 seconds to finish count number 29
Processing Trevor Keels...
Took 1.461272954940796 seconds to finish count number 30
Processing Ken Keller...

/tmp/ipykernel_4467/1331416308.py:19: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  final_df = pd.concat([final_df, df])

Took 1.5564358234405518 seconds to finish count number 31
Processing Rich Kelley...
Took 2.299488067626953 seconds to finish count number 32
Processing Clark Kellogg...
Took 2.411698818206787 seconds to finish count number 33
Processing Gerard Kelly...

/tmp/ipykernel_4467/1331416308.py:19: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  final_df = pd.concat([final_df, df])

Took 1.812873125076294 seconds to finish count number 34
Processing Ryan Kelly...
Took 1.5414135456085205 seconds to finish count number 35
Processing Tom Kelly...

/tmp/ipykernel_4467/1331416308.py:19: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  final_df = pd.concat([final_df, df])

Took 2.633028745651245 seconds to finish count number 36
Processing Greg Kelser...
Took 1.5546362400054932 seconds to finish count number 37
Processing Ben Kelso...

/tmp/ipykernel_4467/1331416308.py:19: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  final_df = pd.concat([final_df, df])

Took 1.438758373260498 seconds to finish count number 38
Processing Shawn Kemp...
Took 1.5352983474731445 seconds to finish count number 39
Processing Tim Kempton...
Took 1.7384257316589355 seconds to finish count number 40
Processing Frank Kendrick...

/tmp/ipykernel_4467/1331416308.py:19: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  final_df = pd.concat([final_df, df])

Took 1.6450364589691162 seconds to finish count number 41
Processing Luke Kennard...
Took 0.6891465187072754 seconds to finish count number 42
Processing D.J. Kennedy...
Took 1.672828197479248 seconds to finish count number 43
Processing Eugene Kennedy...

/tmp/ipykernel_4467/1331416308.py:19: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  final_df = pd.concat([final_df, df])

Took 1.6336469650268555 seconds to finish count number 44
Processing Joe Kennedy...

/tmp/ipykernel_4467/1331416308.py:19: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  final_df = pd.concat([final_df, df])

Took 1.501051902770996 seconds to finish count number 45
Processing William Kennedy...

/tmp/ipykernel_4467/1331416308.py:19: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  final_df = pd.concat([final_df, df])

Took 1.9788973331451416 seconds to finish count number 46
Processing Larry Kenon...
Took 2.320045232772827 seconds to finish count number 47
Processing Bill Kenville...

/tmp/ipykernel_4467/1331416308.py:19: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  final_df = pd.concat([final_df, df])

Took 1.5404043197631836 seconds to finish count number 48
Processing Jonathan Kerner...
Took 1.4303207397460938 seconds to finish count number 49
Processing Johnny Kerr...

/tmp/ipykernel_4467/1331416308.py:19: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  final_df = pd.concat([final_df, df])

Took 2.5576093196868896 seconds to finish count number 50
Processing Steve Kerr...
Took 2.656115770339966 seconds to finish count number 51
Processing Jack Kerris...

/tmp/ipykernel_4467/1331416308.py:19: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  final_df = pd.concat([final_df, df])

Took 2.1916112899780273 seconds to finish count number 52
Processing Jerome Kersey...
Took 1.9103314876556396 seconds to finish count number 53
Processing Alec Kessler...
Took 1.637132167816162 seconds to finish count number 54
Processing Walker Kessler...
Took 0.5029680728912354 seconds to finish count number 55
Processing Lari Ketner...
Took 1.570878505706787 seconds to finish count number 56
Processing Braxton Key...
Took 2.545497417449951 seconds to finish count number 57
Processing Randolph Keys...
Took 2.1850452423095703 seconds to finish count number 58
Processing Viktor Khryapa...
Took 1.612490177154541 seconds to finish count number 59
Processing Jason Kidd...
Took 2.677799940109253 seconds to finish count number 60
Processing Stanton Kidd...
Took 1.3914108276367188 seconds to finish count number 61
Processing Warren Kidd...
Took 2.6745967864990234 seconds to finish count number 62
Processing Michael Kidd-Gilchrist...
Took 1.6488277912139893 seconds to finish count number 63
Processing Irv Kiffin...

/tmp/ipykernel_4467/1331416308.py:19: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  final_df = pd.concat([final_df, df])

Took 3.4902045726776123 seconds to finish count number 64
Processing Jack Kiley...

/tmp/ipykernel_4467/1331416308.py:19: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  final_df = pd.concat([final_df, df])

Took 1.61468505859375 seconds to finish count number 65
Processing Ernie Killum...

/tmp/ipykernel_4467/1331416308.py:19: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  final_df = pd.concat([final_df, df])

Took 2.6808478832244873 seconds to finish count number 66
Processing Carl Kilpatrick...

/tmp/ipykernel_4467/1331416308.py:19: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  final_df = pd.concat([final_df, df])

Took 1.7541840076446533 seconds to finish count number 67
Processing Sean Kilpatrick...
Took 3.33742618560791 seconds to finish count number 68
Processing Toby Kimball...

/tmp/ipykernel_4467/1331416308.py:19: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  final_df = pd.concat([final_df, df])

Took 1.6417067050933838 seconds to finish count number 69
Processing Bo Kimble...
Took 1.3541295528411865 seconds to finish count number 70
Processing Stan Kimbrough...
Took 1.6455984115600586 seconds to finish count number 71
Processing Chad Kinch...

/tmp/ipykernel_4467/1331416308.py:19: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  final_df = pd.concat([final_df, df])

Took 1.5409104824066162 seconds to finish count number 72
Processing Albert King...
Took 1.500220537185669 seconds to finish count number 73
Processing Bernard King...
Took 1.737821340560913 seconds to finish count number 74
Processing Chris King...
Took 1.6357369422912598 seconds to finish count number 75
Processing Dan King...

/tmp/ipykernel_4467/1331416308.py:19: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  final_df = pd.concat([final_df, df])

Took 2.593289375305176 seconds to finish count number 76
Processing Frankie King...
Took 1.327113389968872 seconds to finish count number 77
Processing George King...

/tmp/ipykernel_4467/1331416308.py:19: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  final_df = pd.concat([final_df, df])

Took 1.6107211112976074 seconds to finish count number 78
Processing George King...
Took 1.5377981662750244 seconds to finish count number 79
Processing Gerard King...
Took 1.5707268714904785 seconds to finish count number 80
Processing Jim King...

/tmp/ipykernel_4467/1331416308.py:19: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  final_df = pd.concat([final_df, df])

Took 3.5867340564727783 seconds to finish count number 81
Processing Jimmy King...
Took 2.6736397743225098 seconds to finish count number 82
Processing Louis King...
Took 2.842880964279175 seconds to finish count number 83
Processing Maury King...

/tmp/ipykernel_4467/1331416308.py:19: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  final_df = pd.concat([final_df, df])

Took 2.351881504058838 seconds to finish count number 84
Processing Reggie King...
Took 1.673295021057129 seconds to finish count number 85
Processing Rich King...
Took 2.4240758419036865 seconds to finish count number 86
Processing Stacey King...
Took 2.534355878829956 seconds to finish count number 87
Processing Tom King...

/tmp/ipykernel_4467/1331416308.py:19: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  final_df = pd.concat([final_df, df])

Took 2.459942102432251 seconds to finish count number 88
Processing Bob Kinney...

/tmp/ipykernel_4467/1331416308.py:19: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  final_df = pd.concat([final_df, df])

Took 2.5874407291412354 seconds to finish count number 89
Processing Tarence Kinsey...
Took 1.7097370624542236 seconds to finish count number 90
Processing Andrei Kirilenko...
Took 2.246969223022461 seconds to finish count number 91
Processing Alex Kirk...
Took 2.3803272247314453 seconds to finish count number 92
Processing Walt Kirk...

/tmp/ipykernel_4467/1331416308.py:19: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  final_df = pd.concat([final_df, df])

Took 1.7482101917266846 seconds to finish count number 93
Processing Corey Kispert...
Took 0.6122481822967529 seconds to finish count number 94
Processing Doug Kistler...

/tmp/ipykernel_4467/1331416308.py:19: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  final_df = pd.concat([final_df, df])

Took 1.9262073040008545 seconds to finish count number 95
Processing Curtis Kitchen...
Took 2.6859490871429443 seconds to finish count number 96
Processing Greg Kite...
Took 1.6331384181976318 seconds to finish count number 97
Processing Kerry Kittles...
Took 1.757352590560913 seconds to finish count number 98
Processing Maxi Kleber...
Took 0.5313551425933838 seconds to finish count number 99
collecting chunk 2400 through 2500
start point = 2400
Processing Joe Kleine...
Took 2.5148463249206543 seconds to finish count number 0
Processing Linas Kleiza...
Took 2.5332343578338623 seconds to finish count number 1
Processing Leo Klier...

/tmp/ipykernel_4467/1331416308.py:19: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  final_df = pd.concat([final_df, df])

Took 1.8786852359771729 seconds to finish count number 2
Processing Herm Klotz...

/tmp/ipykernel_4467/1331416308.py:19: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  final_df = pd.concat([final_df, df])

Took 3.4701128005981445 seconds to finish count number 3
Processing Duane Klueh...

/tmp/ipykernel_4467/1331416308.py:19: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  final_df = pd.concat([final_df, df])

Took 1.6097733974456787 seconds to finish count number 4
Processing Billy Knight...
Took 2.352945566177368 seconds to finish count number 5
Processing Bob Knight...

/tmp/ipykernel_4467/1331416308.py:19: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  final_df = pd.concat([final_df, df])

Took 3.030433416366577 seconds to finish count number 6
Processing Brandin Knight...
Took 1.6847271919250488 seconds to finish count number 7
Processing Brandon Knight...
Took 4.539546489715576 seconds to finish count number 8
Processing Brevin Knight...
Took 1.5952980518341064 seconds to finish count number 9
Processing Nathan Knight...
Took 1.6636202335357666 seconds to finish count number 10
Processing Negele Knight...
Took 1.6176705360412598 seconds to finish count number 11
Processing Ron Knight...

/tmp/ipykernel_4467/1331416308.py:19: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  final_df = pd.concat([final_df, df])

Took 1.5578584671020508 seconds to finish count number 12
Processing Toby Knight...
Took 2.6432433128356934 seconds to finish count number 13
Processing Travis Knight...
Took 2.552786350250244 seconds to finish count number 14
Processing Lee Knorek...

/tmp/ipykernel_4467/1331416308.py:19: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  final_df = pd.concat([final_df, df])

Took 2.251805067062378 seconds to finish count number 15
Processing Dick Knostman...

/tmp/ipykernel_4467/1331416308.py:19: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  final_df = pd.concat([final_df, df])

Took 2.768782615661621 seconds to finish count number 16
Processing Rod Knowles...

/tmp/ipykernel_4467/1331416308.py:19: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  final_df = pd.concat([final_df, df])

Took 3.6876299381256104 seconds to finish count number 17
Processing Kevin Knox II...
Took 0.5131340026855469 seconds to finish count number 18
Processing Bart Kofoed...
Took 1.7412083148956299 seconds to finish count number 19
Processing Don Kojis...

/tmp/ipykernel_4467/1331416308.py:19: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  final_df = pd.concat([final_df, df])

Took 2.5980048179626465 seconds to finish count number 20
Processing Christian Koloko...
Took 0.49698376655578613 seconds to finish count number 21
Processing Milo Komenich...

/tmp/ipykernel_4467/1331416308.py:19: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  final_df = pd.concat([final_df, df])

Took 1.7136030197143555 seconds to finish count number 22
Processing Howard Komives...

/tmp/ipykernel_4467/1331416308.py:19: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  final_df = pd.concat([final_df, df])

Took 1.4333536624908447 seconds to finish count number 23
Processing Jon Koncak...
Took 1.5325813293457031 seconds to finish count number 24
Processing John Konchar...
Took 0.5366091728210449 seconds to finish count number 25
Processing Bud Koper...

/tmp/ipykernel_4467/1331416308.py:19: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  final_df = pd.concat([final_df, df])

Took 2.5413076877593994 seconds to finish count number 26
Processing Joe Kopicki...
Took 1.7364614009857178 seconds to finish count number 27
Processing Furkan Korkmaz...
Took 2.6868555545806885 seconds to finish count number 28
Processing Frank Kornet...
Took 5.430903434753418 seconds to finish count number 29
Processing Luke Kornet...
Took 2.6889452934265137 seconds to finish count number 30
Processing Yaroslav Korolev...
Took 1.4789676666259766 seconds to finish count number 31
Processing Kyle Korver...
Took 1.8022255897521973 seconds to finish count number 32
Processing Len Kosmalski...

/tmp/ipykernel_4467/1331416308.py:19: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  final_df = pd.concat([final_df, df])

Took 1.5096187591552734 seconds to finish count number 33
Processing Andy Kostecka...

/tmp/ipykernel_4467/1331416308.py:19: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  final_df = pd.concat([final_df, df])

Took 3.038849353790283 seconds to finish count number 34
Processing Harold Kottman...

/tmp/ipykernel_4467/1331416308.py:19: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  final_df = pd.concat([final_df, df])

Took 2.357236862182617 seconds to finish count number 35
Processing Kosta Koufos...
Took 2.6865320205688477 seconds to finish count number 36
Processing Tom Kozelko...

/tmp/ipykernel_4467/1331416308.py:19: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  final_df = pd.concat([final_df, df])

Took 1.4330835342407227 seconds to finish count number 37
Processing Arvid Kramer...

/tmp/ipykernel_4467/1331416308.py:19: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  final_df = pd.concat([final_df, df])

Took 3.584169387817383 seconds to finish count number 38
Processing Barry Kramer...

/tmp/ipykernel_4467/1331416308.py:19: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  final_df = pd.concat([final_df, df])

Took 3.992680788040161 seconds to finish count number 39
Processing Joel Kramer...
Took 2.5534515380859375 seconds to finish count number 40
Processing Dan Kraus...

/tmp/ipykernel_4467/1331416308.py:19: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  final_df = pd.concat([final_df, df])

Took 5.144060134887695 seconds to finish count number 41
Processing Herb Krautblatt...

/tmp/ipykernel_4467/1331416308.py:19: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  final_df = pd.concat([final_df, df])

Took 4.665282964706421 seconds to finish count number 42
Processing Viacheslav Kravtsov...
Took 2.272963523864746 seconds to finish count number 43
Processing Jim Krebs...

/tmp/ipykernel_4467/1331416308.py:19: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  final_df = pd.concat([final_df, df])

Took 2.4492363929748535 seconds to finish count number 44
Processing Vit Krejci...
Took 0.6110308170318604 seconds to finish count number 45
Processing Wayne Kreklow...
Took 2.281492233276367 seconds to finish count number 46
Processing Tom Kron...

/tmp/ipykernel_4467/1331416308.py:19: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  final_df = pd.concat([final_df, df])

Took 1.4999594688415527 seconds to finish count number 47
Processing Tom Kropp...

/tmp/ipykernel_4467/1331416308.py:19: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  final_df = pd.concat([final_df, df])

Took 1.6389353275299072 seconds to finish count number 48
Processing Nenad Krstic...
Took 2.273399829864502 seconds to finish count number 49
Processing Larry Krystkowiak...
Took 1.765843152999878 seconds to finish count number 50
Processing Steve Kuberski...

/tmp/ipykernel_4467/1331416308.py:19: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  final_df = pd.concat([final_df, df])

Took 1.8967607021331787 seconds to finish count number 51
Processing Leo Kubiak...

/tmp/ipykernel_4467/1331416308.py:19: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  final_df = pd.concat([final_df, df])

Took 2.558722496032715 seconds to finish count number 52
Processing Bruce Kuczenski...
Took 1.5588116645812988 seconds to finish count number 53
Processing Frank Kudelka...

/tmp/ipykernel_4467/1331416308.py:19: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  final_df = pd.concat([final_df, df])

Took 1.61590576171875 seconds to finish count number 54
Processing John Kuester...
Took 1.6695706844329834 seconds to finish count number 55
Processing Ray Kuka...

/tmp/ipykernel_4467/1331416308.py:19: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  final_df = pd.concat([final_df, df])

Took 1.5311517715454102 seconds to finish count number 56
Processing Toni Kukoc...
Took 1.6089553833007812 seconds to finish count number 57
Processing Arnoldas Kulboka...
Took 1.5326662063598633 seconds to finish count number 58
Processing Jonathan Kuminga...
Took 2.3996570110321045 seconds to finish count number 59
Processing Kevin Kunnert...

/tmp/ipykernel_4467/1331416308.py:19: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  final_df = pd.concat([final_df, df])

Took 1.707174301147461 seconds to finish count number 60
Processing Mitch Kupchak...
Took 1.646090030670166 seconds to finish count number 61
Processing Charles Kupec...

/tmp/ipykernel_4467/1331416308.py:19: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  final_df = pd.concat([final_df, df])

Took 1.8256902694702148 seconds to finish count number 62
Processing Rodions Kurucs...
Took 2.4583659172058105 seconds to finish count number 63
Processing Rob Kurz...
Took 1.969421148300171 seconds to finish count number 64
Processing Ibrahim Kutluay...
Took 2.650080680847168 seconds to finish count number 65
Processing Kyle Kuzma...
Took 0.5200753211975098 seconds to finish count number 66
Processing Ognjen Kuzmic...
Took 2.469975471496582 seconds to finish count number 67
Processing Mindaugas Kuzminskas...
Took 2.463737964630127 seconds to finish count number 68
Processing Fred LaCour...

/tmp/ipykernel_4467/1331416308.py:19: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  final_df = pd.concat([final_df, df])

Took 3.346371650695801 seconds to finish count number 69
Processing Raef LaFrentz...
Took 2.3526511192321777 seconds to finish count number 70
Processing Tom LaGarde...
Took 1.6388859748840332 seconds to finish count number 71
Processing Jake LaRavia...
Took 0.43009018898010254 seconds to finish count number 72
Processing Rusty LaRue...
Took 3.9057605266571045 seconds to finish count number 73
Processing Rudy LaRusso...

/tmp/ipykernel_4467/1331416308.py:19: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  final_df = pd.concat([final_df, df])

Took 1.708580493927002 seconds to finish count number 74
Processing Zach LaVine...
Took 0.5013561248779297 seconds to finish count number 75
Processing Skal Labissiere...
Took 3.522435426712036 seconds to finish count number 76
Processing Sam Lacey...
Took 1.605452537536621 seconds to finish count number 77
Processing Christian Laettner...
Took 1.6673035621643066 seconds to finish count number 78
Processing Oliver Lafayette...
Took 1.6149933338165283 seconds to finish count number 79
Processing Bill Laimbeer...
Took 1.533804178237915 seconds to finish count number 80
Processing Pete Lalich...

/tmp/ipykernel_4467/1331416308.py:19: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  final_df = pd.concat([final_df, df])

Took 1.5334110260009766 seconds to finish count number 81
Processing Bo Lamar...

/tmp/ipykernel_4467/1331416308.py:19: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  final_df = pd.concat([final_df, df])

Took 1.8796250820159912 seconds to finish count number 82
Processing Anthony Lamb...
Took 1.492553949356079 seconds to finish count number 83
Processing Doron Lamb...
Took 1.6505422592163086 seconds to finish count number 84
Processing Jeremy Lamb...
Took 2.9554100036621094 seconds to finish count number 85
Processing John Lambert...
Took 1.5642976760864258 seconds to finish count number 86
Processing Jeff Lamp...
Took 2.45743989944458 seconds to finish count number 87
Processing Maciej Lampe...
Took 2.5355520248413086 seconds to finish count number 88
Processing Jim Lampley...
Took 2.2938451766967773 seconds to finish count number 89
Processing Sean Lampley...
Took 2.6214239597320557 seconds to finish count number 90
Processing Jock Landale...
Took 0.5118961334228516 seconds to finish count number 91
Processing Carl Landry...
Took 1.5531878471374512 seconds to finish count number 92
Processing Marcus Landry...
Took 1.4335894584655762 seconds to finish count number 93
Processing Mark Landsberger...
Took 1.5489630699157715 seconds to finish count number 94
Processing Jerome Lane...
Took 1.3968744277954102 seconds to finish count number 95
Processing Andrew Lang...
Took 1.8706121444702148 seconds to finish count number 96
Processing Antonio Lang...
Took 1.5358703136444092 seconds to finish count number 97
Processing James Lang...
Took 3.7639167308807373 seconds to finish count number 98
Processing Trajan Langdon...
Took 1.6361141204833984 seconds to finish count number 99
collecting chunk 2500 through 2600
start point = 2500
Processing Keith Langford...
Took 2.4705703258514404 seconds to finish count number 0
Processing Romeo Langford...
Took 2.3368079662323 seconds to finish count number 1
Processing Dan Langhi...
Took 2.5528900623321533 seconds to finish count number 2
Processing Bob Lanier...
Took 1.4864747524261475 seconds to finish count number 3
Processing Stu Lantz...

/tmp/ipykernel_4467/1331416308.py:19: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  final_df = pd.concat([final_df, df])

Took 1.690589427947998 seconds to finish count number 4
Processing Nicolas Laprovittola...
Took 1.681579828262329 seconds to finish count number 5
Processing York Larese...

/tmp/ipykernel_4467/1331416308.py:19: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  final_df = pd.concat([final_df, df])

Took 1.6252849102020264 seconds to finish count number 6
Processing Shane Larkin...
Took 2.7335329055786133 seconds to finish count number 7
Processing John Laskowski...

/tmp/ipykernel_4467/1331416308.py:19: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  final_df = pd.concat([final_df, df])

Took 1.4327301979064941 seconds to finish count number 8
Processing Stephane Lasme...
Took 2.5999081134796143 seconds to finish count number 9
Processing Dave Lattin...

/tmp/ipykernel_4467/1331416308.py:19: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  final_df = pd.concat([final_df, df])

Took 2.43041729927063 seconds to finish count number 10
Processing Priest Lauderdale...
Took 1.4454069137573242 seconds to finish count number 11
Processing Rich Laurel...

/tmp/ipykernel_4467/1331416308.py:19: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  final_df = pd.concat([final_df, df])

Took 2.361212968826294 seconds to finish count number 12
Processing Walt Lautenbach...

/tmp/ipykernel_4467/1331416308.py:19: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  final_df = pd.concat([final_df, df])

Took 1.5306460857391357 seconds to finish count number 13
Processing Joffrey Lauvergne...
Took 2.1195638179779053 seconds to finish count number 14
Processing Tony Lavelli...

/tmp/ipykernel_4467/1331416308.py:19: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  final_df = pd.concat([final_df, df])

Took 2.392090320587158 seconds to finish count number 15
Processing Bob Lavoy...

/tmp/ipykernel_4467/1331416308.py:19: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  final_df = pd.concat([final_df, df])

Took 1.714566946029663 seconds to finish count number 16
Processing Acie Law...
Took 2.7028896808624268 seconds to finish count number 17
Processing Vic Law...
Took 2.6561226844787598 seconds to finish count number 18
Processing Gani Lawal...
Took 1.6274189949035645 seconds to finish count number 19
Processing Ed Lawrence...

/tmp/ipykernel_4467/1331416308.py:19: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  final_df = pd.concat([final_df, df])

Took 1.665212631225586 seconds to finish count number 20
Processing A.J. Lawson...
Took 0.6128256320953369 seconds to finish count number 21
Processing Jason Lawson...
Took 4.884006500244141 seconds to finish count number 22
Processing Ty Lawson...
Took 1.934342622756958 seconds to finish count number 23
Processing Jake Layman...
Took 2.7527694702148438 seconds to finish count number 24
Processing Dennis Layton...

/tmp/ipykernel_4467/1331416308.py:19: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  final_df = pd.concat([final_df, df])

Took 2.7138357162475586 seconds to finish count number 25
Processing Caris LeVert...
Took 0.7687060832977295 seconds to finish count number 26
Processing T.J. Leaf...
Took 1.632734775543213 seconds to finish count number 27
Processing Emanuel Leaks...

/tmp/ipykernel_4467/1331416308.py:19: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  final_df = pd.concat([final_df, df])

Took 1.630927562713623 seconds to finish count number 28
Processing Hal Lear...

/tmp/ipykernel_4467/1331416308.py:19: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  final_df = pd.concat([final_df, df])

Took 2.5079123973846436 seconds to finish count number 29
Processing Allen Leavell...
Took 2.4529030323028564 seconds to finish count number 30
Processing Jeff Lebo...
Took 5.525343656539917 seconds to finish count number 31
Processing Eric Leckner...
Took 1.9189612865447998 seconds to finish count number 32
Processing Jalen Lecque...
Took 1.5641262531280518 seconds to finish count number 33
Processing Ricky Ledo...
Took 4.811899185180664 seconds to finish count number 34
Processing Butch Lee...

/tmp/ipykernel_4467/1331416308.py:19: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  final_df = pd.concat([final_df, df])

Took 1.9438228607177734 seconds to finish count number 35
Processing Clyde Lee...

/tmp/ipykernel_4467/1331416308.py:19: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  final_df = pd.concat([final_df, df])

Took 4.295393228530884 seconds to finish count number 36
Processing Courtney Lee...
Took 1.6108448505401611 seconds to finish count number 37
Processing Damion Lee...
Took 0.7197332382202148 seconds to finish count number 38
Processing David Lee...
Took 3.5834875106811523 seconds to finish count number 39
Processing Doug Lee...
Took 1.3534865379333496 seconds to finish count number 40
Processing George Lee...

/tmp/ipykernel_4467/1331416308.py:19: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  final_df = pd.concat([final_df, df])

Took 1.4119558334350586 seconds to finish count number 41
Processing Greg Lee...

/tmp/ipykernel_4467/1331416308.py:19: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  final_df = pd.concat([final_df, df])

Took 2.4010257720947266 seconds to finish count number 42
Processing Keith Lee...
Took 1.5131194591522217 seconds to finish count number 43
Processing Kurk Lee...
Took 1.6154227256774902 seconds to finish count number 44
Processing Malcolm Lee...
Took 1.7634344100952148 seconds to finish count number 45
Processing Rock Lee...

/tmp/ipykernel_4467/1331416308.py:19: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  final_df = pd.concat([final_df, df])

Took 1.9611284732818604 seconds to finish count number 46
Processing Ron Lee...
Took 1.3939287662506104 seconds to finish count number 47
Processing Russell Lee...

/tmp/ipykernel_4467/1331416308.py:19: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  final_df = pd.concat([final_df, df])

Took 2.892150402069092 seconds to finish count number 48
Processing Saben Lee...
Took 0.5846261978149414 seconds to finish count number 49
Processing Ed Leede...

/tmp/ipykernel_4467/1331416308.py:19: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  final_df = pd.concat([final_df, df])

Took 2.6559951305389404 seconds to finish count number 50
Processing Hank Lefkowitz...

/tmp/ipykernel_4467/1331416308.py:19: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  final_df = pd.concat([final_df, df])

Took 1.4448893070220947 seconds to finish count number 51
Processing Tim Legler...
Took 1.5276048183441162 seconds to finish count number 52
Processing George Lehmann...

/tmp/ipykernel_4467/1331416308.py:19: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  final_df = pd.concat([final_df, df])

Took 1.586275577545166 seconds to finish count number 53
Processing Walt Lemon Jr....
Took 2.8397488594055176 seconds to finish count number 54
Processing Alex Len...
Took 0.7019941806793213 seconds to finish count number 55
Processing Voshon Lenard...
Took 2.379751443862915 seconds to finish count number 56
Processing Bob Leonard...

/tmp/ipykernel_4467/1331416308.py:19: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  final_df = pd.concat([final_df, df])

Took 1.606806993484497 seconds to finish count number 57
Processing Gary Leonard...
Took 2.17364764213562 seconds to finish count number 58
Processing Kawhi Leonard...
Took 0.7023475170135498 seconds to finish count number 59
Processing Meyers Leonard...
Took 2.469127655029297 seconds to finish count number 60
Processing Jim Les...
Took 2.579343318939209 seconds to finish count number 61
Processing Travis Leslie...
Took 1.9274003505706787 seconds to finish count number 62
Processing Ronnie Lester...
Took 1.8448829650878906 seconds to finish count number 63
Processing Clifford Lett...
Took 1.4530277252197266 seconds to finish count number 64
Processing Jon Leuer...
Took 2.6269290447235107 seconds to finish count number 65
Processing Andrew Levane...

/tmp/ipykernel_4467/1331416308.py:19: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  final_df = pd.concat([final_df, df])

Took 1.841672658920288 seconds to finish count number 66
Processing Lafayette Lever...
Took 1.551708459854126 seconds to finish count number 67
Processing Cliff Levingston...
Took 1.6359095573425293 seconds to finish count number 68
Processing Bobby Lewis...

/tmp/ipykernel_4467/1331416308.py:19: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  final_df = pd.concat([final_df, df])

Took 1.8588595390319824 seconds to finish count number 69
Processing Cedric Lewis...
Took 1.4920086860656738 seconds to finish count number 70
Processing Fred Lewis...

/tmp/ipykernel_4467/1331416308.py:19: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  final_df = pd.concat([final_df, df])

Took 1.3373239040374756 seconds to finish count number 71
Processing Freddie Lewis...

/tmp/ipykernel_4467/1331416308.py:19: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  final_df = pd.concat([final_df, df])

Took 1.5411655902862549 seconds to finish count number 72
Processing Grady Lewis...

/tmp/ipykernel_4467/1331416308.py:19: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  final_df = pd.concat([final_df, df])

Took 2.1039862632751465 seconds to finish count number 73
Processing Justin Lewis...

/tmp/ipykernel_4467/1331416308.py:19: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  final_df = pd.concat([final_df, df])

Took 2.137754440307617 seconds to finish count number 74
Processing Martin Lewis...
Took 1.411527156829834 seconds to finish count number 75
Processing Maxwell Lewis...
Took 0.6278789043426514 seconds to finish count number 76
Processing Quincy Lewis...
Took 2.628197193145752 seconds to finish count number 77
Processing Ralph Lewis...
Took 1.52779221534729 seconds to finish count number 78
Processing Rashard Lewis...
Took 1.8404431343078613 seconds to finish count number 79
Processing Reggie Lewis...
Took 1.3713006973266602 seconds to finish count number 80
Processing Scottie Lewis...
Took 1.4917058944702148 seconds to finish count number 81
Processing Kira Lewis Jr....
Took 0.6118965148925781 seconds to finish count number 82
Processing Marcus Liberty...
Took 1.8053925037384033 seconds to finish count number 83
Processing Todd Lichti...
Took 1.6105411052703857 seconds to finish count number 84
Processing E.J. Liddell...
Took 0.5958194732666016 seconds to finish count number 85
Processing DeAndre Liggins...
Took 2.608541488647461 seconds to finish count number 86
Processing Bill Ligon...

/tmp/ipykernel_4467/1331416308.py:19: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  final_df = pd.concat([final_df, df])

Took 1.505418300628662 seconds to finish count number 87
Processing Damian Lillard...
Took 0.5930147171020508 seconds to finish count number 88
Processing Jeremy Lin...
Took 1.5210812091827393 seconds to finish count number 89
Processing Steve Lingenfelter...
Took 1.339616060256958 seconds to finish count number 90
Processing Alton Lister...
Took 2.684842348098755 seconds to finish count number 91
Processing Nassir Little...
Took 0.6882104873657227 seconds to finish count number 92
Processing Dereck Lively II...
Took 0.5519649982452393 seconds to finish count number 93
Processing Isaiah Livers...
Took 0.578176736831665 seconds to finish count number 94
Processing Chris Livingston...
Took 0.5132343769073486 seconds to finish count number 95
Processing Randy Livingston...
Took 1.760521650314331 seconds to finish count number 96
Processing Shaun Livingston...
Took 2.026350498199463 seconds to finish count number 97
Processing Ron Livingstone...

/tmp/ipykernel_4467/1331416308.py:19: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  final_df = pd.concat([final_df, df])

Took 1.583920955657959 seconds to finish count number 98
Processing Horacio Llamas...
Took 1.3967626094818115 seconds to finish count number 99
collecting chunk 2600 through 2700
start point = 2600
Processing Earl Lloyd...
Took 1.4052708148956299 seconds to finish count number 0
Processing Lewis Lloyd...
Took 1.5623023509979248 seconds to finish count number 1
Processing Scott Lloyd...
Took 2.5686635971069336 seconds to finish count number 2
Processing Bob Lochmueller...
Took 2.9966001510620117 seconds to finish count number 3
Processing Robert Lock...
Took 1.9814584255218506 seconds to finish count number 4
Processing Darrell Lockhart...
Took 2.51960825920105 seconds to finish count number 5
Processing Ian Lockhart...
Took 1.5060207843780518 seconds to finish count number 6
Processing Kevin Loder...
Took 2.868398666381836 seconds to finish count number 7
Processing Don Lofgran...
Took 1.5322914123535156 seconds to finish count number 8
Processing Zach Lofton...

/tmp/ipykernel_4467/1331416308.py:19: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  final_df = pd.concat([final_df, df])

Took 1.5131871700286865 seconds to finish count number 9
Processing Kenneth Lofton Jr....
Took 2.3760340213775635 seconds to finish count number 10
Processing Johnny Logan...

/tmp/ipykernel_4467/1331416308.py:19: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  final_df = pd.concat([final_df, df])

Took 1.7197721004486084 seconds to finish count number 11
Processing Brad Lohaus...
Took 1.6406474113464355 seconds to finish count number 12
Processing Art Long...
Took 1.5869405269622803 seconds to finish count number 13
Processing Grant Long...
Took 2.823108196258545 seconds to finish count number 14
Processing John Long...
Took 2.0725390911102295 seconds to finish count number 15
Processing Paul Long...

/tmp/ipykernel_4467/1331416308.py:19: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  final_df = pd.concat([final_df, df])

Took 1.4193501472473145 seconds to finish count number 16
Processing Shawn Long...
Took 2.5485544204711914 seconds to finish count number 17
Processing Luc Longley...
Took 1.6383204460144043 seconds to finish count number 18
Processing Kevon Looney...
Took 2.2391510009765625 seconds to finish count number 19
Processing Brook Lopez...
Took 0.5388627052307129 seconds to finish count number 20
Processing Felipe Lopez...
Took 2.426352024078369 seconds to finish count number 21
Processing Raul Lopez...
Took 2.4774858951568604 seconds to finish count number 22
Processing Robin Lopez...
Took 0.624016523361206 seconds to finish count number 23
Processing Ryan Lorthridge...
Took 2.684483289718628 seconds to finish count number 24
Processing Jim Loscutoff...

/tmp/ipykernel_4467/1331416308.py:19: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  final_df = pd.concat([final_df, df])

Took 1.7243006229400635 seconds to finish count number 25
Processing Plummer Lott...

/tmp/ipykernel_4467/1331416308.py:19: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  final_df = pd.concat([final_df, df])

Took 2.436887264251709 seconds to finish count number 26
Processing Kevin Loughery...

/tmp/ipykernel_4467/1331416308.py:19: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  final_df = pd.concat([final_df, df])

Took 1.5528006553649902 seconds to finish count number 27
Processing Didi Louzada...
Took 2.529496669769287 seconds to finish count number 28
Processing Bob Love...

/tmp/ipykernel_4467/1331416308.py:19: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  final_df = pd.concat([final_df, df])

Took 1.7442331314086914 seconds to finish count number 29
Processing Kevin Love...
Took 0.846942663192749 seconds to finish count number 30
Processing Stan Love...

/tmp/ipykernel_4467/1331416308.py:19: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  final_df = pd.concat([final_df, df])

Took 2.53094482421875 seconds to finish count number 31
Processing Clyde Lovellette...

/tmp/ipykernel_4467/1331416308.py:19: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  final_df = pd.concat([final_df, df])

Took 1.6394739151000977 seconds to finish count number 32
Processing Sidney Lowe...
Took 2.383953809738159 seconds to finish count number 33
Processing Chuck Lowery...

/tmp/ipykernel_4467/1331416308.py:19: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  final_df = pd.concat([final_df, df])

Took 1.6517157554626465 seconds to finish count number 34
Processing Kyle Lowry...
Took 0.570976734161377 seconds to finish count number 35
Processing Jordan Loyd...
Took 2.3639347553253174 seconds to finish count number 36
Processing Al Lucas...

/tmp/ipykernel_4467/1331416308.py:19: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  final_df = pd.concat([final_df, df])

Took 2.46763277053833 seconds to finish count number 37
Processing Jerry Lucas...

/tmp/ipykernel_4467/1331416308.py:19: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  final_df = pd.concat([final_df, df])

Took 1.5651955604553223 seconds to finish count number 38
Processing John Lucas...
Took 2.717878580093384 seconds to finish count number 39
Processing Kalin Lucas...
Took 5.267481088638306 seconds to finish count number 40
Processing Maurice Lucas...
Took 1.643226146697998 seconds to finish count number 41
Processing John Lucas III...
Took 1.8214447498321533 seconds to finish count number 42
Processing Ted Luckenbill...

/tmp/ipykernel_4467/1331416308.py:19: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  final_df = pd.concat([final_df, df])

Took 2.4867653846740723 seconds to finish count number 43
Processing Tyronn Lue...
Took 1.399930477142334 seconds to finish count number 44
Processing Jim Luisi...

/tmp/ipykernel_4467/1331416308.py:19: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  final_df = pd.concat([final_df, df])

Took 1.9300189018249512 seconds to finish count number 45
Processing Al Lujack...

/tmp/ipykernel_4467/1331416308.py:19: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  final_df = pd.concat([final_df, df])

Took 1.5256106853485107 seconds to finish count number 46
Processing Phil Lumpkin...

/tmp/ipykernel_4467/1331416308.py:19: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  final_df = pd.concat([final_df, df])

Took 2.352060317993164 seconds to finish count number 47
Processing Ray Lumpp...

/tmp/ipykernel_4467/1331416308.py:19: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  final_df = pd.concat([final_df, df])

Took 1.4714839458465576 seconds to finish count number 48
Processing Gabriel Lundberg...
Took 1.5273199081420898 seconds to finish count number 49
Processing Seth Lundy...
Took 0.5929703712463379 seconds to finish count number 50
Processing Timothe Luwawu-Cabarrot...
Took 1.4278192520141602 seconds to finish count number 51
Processing Tyler Lydon...
Took 1.6630611419677734 seconds to finish count number 52
Processing Trey Lyles...
Took 0.7125763893127441 seconds to finish count number 53
Processing George Lynch...
Took 3.506600856781006 seconds to finish count number 54
Processing Kevin Lynch...
Took 2.3499832153320312 seconds to finish count number 55
Processing Mike Lynn...

/tmp/ipykernel_4467/1331416308.py:19: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  final_df = pd.concat([final_df, df])

Took 1.5024430751800537 seconds to finish count number 56
Processing Sheldon Mac...
Took 1.5865323543548584 seconds to finish count number 57
Processing Todd MacCulloch...
Took 1.5006048679351807 seconds to finish count number 58
Processing Ronnie MacGilvray...

/tmp/ipykernel_4467/1331416308.py:19: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  final_df = pd.concat([final_df, df])

Took 1.8463287353515625 seconds to finish count number 59
Processing Don MacLean...
Took 2.488617181777954 seconds to finish count number 60
Processing Mike Macaluso...

/tmp/ipykernel_4467/1331416308.py:19: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  final_df = pd.concat([final_df, df])

Took 2.221421480178833 seconds to finish count number 61
Processing Ed Macauley...

/tmp/ipykernel_4467/1331416308.py:19: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  final_df = pd.concat([final_df, df])

Took 1.6377532482147217 seconds to finish count number 62
Processing Scott Machado...
Took 1.56382417678833 seconds to finish count number 63
Processing Arvydas Macijauskas...
Took 1.6056199073791504 seconds to finish count number 64
Processing Ollie Mack...
Took 1.5679717063903809 seconds to finish count number 65
Processing Sam Mack...
Took 1.7134573459625244 seconds to finish count number 66
Processing Shelvin Mack...
Took 2.5610597133636475 seconds to finish count number 67
Processing Malcolm Mackey...
Took 2.7528491020202637 seconds to finish count number 68
Processing Rudy Macklin...
Took 5.265975713729858 seconds to finish count number 69
Processing Vernon Macklin...
Took 2.9131510257720947 seconds to finish count number 70
Processing Johnny Macknowski...

/tmp/ipykernel_4467/1331416308.py:19: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  final_df = pd.concat([final_df, df])

Took 2.3590657711029053 seconds to finish count number 71
Processing Daryl Macon...
Took 2.649506092071533 seconds to finish count number 72
Processing Mark Macon...
Took 1.5778093338012695 seconds to finish count number 73
Processing J.P. Macura...
Took 2.465827703475952 seconds to finish count number 74
Processing Kyle Macy...
Took 1.5180306434631348 seconds to finish count number 75
Processing Jack Maddox...

/tmp/ipykernel_4467/1331416308.py:19: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  final_df = pd.concat([final_df, df])

Took 2.269597053527832 seconds to finish count number 76
Processing Tito Maddox...
Took 2.4650862216949463 seconds to finish count number 77
Processing Gerald Madkins...
Took 1.714082956314087 seconds to finish count number 78
Processing Mark Madsen...
Took 1.6365723609924316 seconds to finish count number 79
Processing Norm Mager...

/tmp/ipykernel_4467/1331416308.py:19: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  final_df = pd.concat([final_df, df])

Took 5.053708791732788 seconds to finish count number 80
Processing Josh Magette...
Took 4.062796354293823 seconds to finish count number 81
Processing Corey Maggette...
Took 5.0480287075042725 seconds to finish count number 82
Processing Dave Magley...
Took 2.3279876708984375 seconds to finish count number 83
Processing Jamaal Magloire...
Took 1.6331260204315186 seconds to finish count number 84
Processing Will Magnay...
Took 1.6682162284851074 seconds to finish count number 85
Processing Ian Mahinmi...
Took 1.892714262008667 seconds to finish count number 86
Processing John Mahnken...

/tmp/ipykernel_4467/1331416308.py:19: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  final_df = pd.concat([final_df, df])

Took 1.7574872970581055 seconds to finish count number 87
Processing Francis Mahoney...

/tmp/ipykernel_4467/1331416308.py:19: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  final_df = pd.concat([final_df, df])

Took 1.540994644165039 seconds to finish count number 88
Processing Rick Mahorn...
Took 6.422273635864258 seconds to finish count number 89
Processing Dan Majerle...
Took 4.813514709472656 seconds to finish count number 90
Processing Renaldo Major...
Took 2.4639358520507812 seconds to finish count number 91
Processing Thon Maker...
Took 1.881685733795166 seconds to finish count number 92
Processing Lionel Malamed...

/tmp/ipykernel_4467/1331416308.py:19: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  final_df = pd.concat([final_df, df])

Took 2.3394033908843994 seconds to finish count number 93
Processing Theo Maledon...
Took 0.4843573570251465 seconds to finish count number 94
Processing Jeff Malone...
Took 2.593433141708374 seconds to finish count number 95
Processing Karl Malone...
Took 2.458263874053955 seconds to finish count number 96
Processing Moses Malone...
Took 2.569471597671509 seconds to finish count number 97
Processing Matt Maloney...
Took 2.6229491233825684 seconds to finish count number 98
Processing Steve Malovic...
Took 1.5393450260162354 seconds to finish count number 99
collecting chunk 2700 through 2800
start point = 2700
Processing Sandro Mamukelashvili...
Took 1.5091526508331299 seconds to finish count number 0
Processing Ted Manakas...

/tmp/ipykernel_4467/1331416308.py:19: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  final_df = pd.concat([final_df, df])

Took 4.231060028076172 seconds to finish count number 1
Processing John Mandic...

/tmp/ipykernel_4467/1331416308.py:19: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  final_df = pd.concat([final_df, df])

Took 3.0047569274902344 seconds to finish count number 2
Processing Karim Mane...
Took 2.398313522338867 seconds to finish count number 3
Processing Frank Mangiapane...

/tmp/ipykernel_4467/1331416308.py:19: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  final_df = pd.concat([final_df, df])

Took 1.6745145320892334 seconds to finish count number 4
Processing Marcus Mann...

/tmp/ipykernel_4467/1331416308.py:19: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  final_df = pd.concat([final_df, df])

Took 3.6516387462615967 seconds to finish count number 5
Processing Terance Mann...
Took 0.522700309753418 seconds to finish count number 6
Processing Tre Mann...
Took 0.6317155361175537 seconds to finish count number 7
Processing Danny Manning...
Took 1.6044604778289795 seconds to finish count number 8
Processing Ed Manning...

/tmp/ipykernel_4467/1331416308.py:19: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  final_df = pd.concat([final_df, df])

Took 2.3913445472717285 seconds to finish count number 9
Processing Richard Manning...
Took 2.559490919113159 seconds to finish count number 10
Processing Nico Mannion...
Took 1.6221332550048828 seconds to finish count number 11
Processing Pace Mannion...
Took 1.6461234092712402 seconds to finish count number 12
Processing Nick Mantis...

/tmp/ipykernel_4467/1331416308.py:19: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  final_df = pd.concat([final_df, df])

Took 1.7449157238006592 seconds to finish count number 13
Processing Pete Maravich...
Took 2.3381528854370117 seconds to finish count number 14
Processing Peter Maravich...

/tmp/ipykernel_4467/1331416308.py:19: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  final_df = pd.concat([final_df, df])

Took 1.4449541568756104 seconds to finish count number 15
Processing Devyn Marble...
Took 1.435863733291626 seconds to finish count number 16
Processing Roy Marble...
Took 2.4349441528320312 seconds to finish count number 17
Processing Stephon Marbury...
Took 1.4244577884674072 seconds to finish count number 18
Processing Sarunas Marciulionis...
Took 1.5414915084838867 seconds to finish count number 19
Processing Saul Mariaschin...

/tmp/ipykernel_4467/1331416308.py:19: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  final_df = pd.concat([final_df, df])

Took 1.8487553596496582 seconds to finish count number 20
Processing Jack Marin...

/tmp/ipykernel_4467/1331416308.py:19: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  final_df = pd.concat([final_df, df])

Took 2.345180034637451 seconds to finish count number 21
Processing Shawn Marion...
Took 1.6651103496551514 seconds to finish count number 22
Processing Boban Marjanovic...
Took 0.6403295993804932 seconds to finish count number 23
Processing Lauri Markkanen...
Took 0.7699005603790283 seconds to finish count number 24
Processing Damir Markota...
Took 1.7444963455200195 seconds to finish count number 25
Processing Sean Marks...
Took 3.0633130073547363 seconds to finish count number 26
Processing Harvey Marlatt...

/tmp/ipykernel_4467/1331416308.py:19: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  final_df = pd.concat([final_df, df])

Took 1.5756404399871826 seconds to finish count number 27
Processing Eric Marsh...

/tmp/ipykernel_4467/1331416308.py:19: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  final_df = pd.concat([final_df, df])

Took 1.7508294582366943 seconds to finish count number 28
Processing Jim Marsh...

/tmp/ipykernel_4467/1331416308.py:19: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  final_df = pd.concat([final_df, df])

Took 2.514953136444092 seconds to finish count number 29
Processing Donny Marshall...
Took 1.6471545696258545 seconds to finish count number 30
Processing Donyell Marshall...
Took 1.6225924491882324 seconds to finish count number 31
Processing Kendall Marshall...
Took 1.6464159488677979 seconds to finish count number 32
Processing Naji Marshall...
Took 0.5211963653564453 seconds to finish count number 33
Processing Rawle Marshall...
Took 4.0811803340911865 seconds to finish count number 34
Processing Tom Marshall...

/tmp/ipykernel_4467/1331416308.py:19: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  final_df = pd.concat([final_df, df])

Took 1.5697226524353027 seconds to finish count number 35
Processing Vester Marshall...

/tmp/ipykernel_4467/1331416308.py:19: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  final_df = pd.concat([final_df, df])

Took 3.463864326477051 seconds to finish count number 36
Processing Bill Martin...
Took 1.6226654052734375 seconds to finish count number 37
Processing Bob Martin...
Took 1.5603485107421875 seconds to finish count number 38
Processing Brian Martin...
Took 1.544379711151123 seconds to finish count number 39
Processing Caleb Martin...
Took 0.47899508476257324 seconds to finish count number 40
Processing Cartier Martin...
Took 1.5322918891906738 seconds to finish count number 41
Processing Cody Martin...
Took 1.5362036228179932 seconds to finish count number 42
Processing Cuonzo Martin...
Took 2.3099265098571777 seconds to finish count number 43
Processing Darrick Martin...
Took 1.6089346408843994 seconds to finish count number 44
Processing Don Martin...

/tmp/ipykernel_4467/1331416308.py:19: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  final_df = pd.concat([final_df, df])

Took 1.5168447494506836 seconds to finish count number 45
Processing Donald Martin...

/tmp/ipykernel_4467/1331416308.py:19: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  final_df = pd.concat([final_df, df])

Took 1.4551842212677002 seconds to finish count number 46
Processing Fernando Martin...
Took 1.6704068183898926 seconds to finish count number 47
Processing Jarell Martin...
Took 2.3292722702026367 seconds to finish count number 48
Processing Jeff Martin...
Took 1.635085105895996 seconds to finish count number 49
Processing Jeremiah Martin...
Took 1.636159896850586 seconds to finish count number 50
Processing KJ Martin...
Took 2.4280757904052734 seconds to finish count number 51
Processing Kelan Martin...
Took 1.5404813289642334 seconds to finish count number 52
Processing Kenyon Martin...
Took 1.760303258895874 seconds to finish count number 53
Processing Kevin Martin...
Took 1.8421263694763184 seconds to finish count number 54
Processing Larue Martin...

/tmp/ipykernel_4467/1331416308.py:19: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  final_df = pd.concat([final_df, df])

Took 1.4559340476989746 seconds to finish count number 55
Processing Mo Martin...
Took 1.319629192352295 seconds to finish count number 56
Processing Phil Martin...

/tmp/ipykernel_4467/1331416308.py:19: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  final_df = pd.concat([final_df, df])

Took 2.6234066486358643 seconds to finish count number 57
Processing Ronald Martin...

/tmp/ipykernel_4467/1331416308.py:19: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  final_df = pd.concat([final_df, df])

Took 2.58115816116333 seconds to finish count number 58
Processing Slater Martin...

/tmp/ipykernel_4467/1331416308.py:19: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  final_df = pd.concat([final_df, df])

Took 2.4352834224700928 seconds to finish count number 59
Processing Tyrese Martin...
Took 2.4032678604125977 seconds to finish count number 60
Processing Jamal Mashburn...
Took 1.6531376838684082 seconds to finish count number 61
Processing Al Masino...

/tmp/ipykernel_4467/1331416308.py:19: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  final_df = pd.concat([final_df, df])

Took 1.6042208671569824 seconds to finish count number 62
Processing Anthony Mason...
Took 1.7575840950012207 seconds to finish count number 63
Processing Desmond Mason...
Took 2.4175798892974854 seconds to finish count number 64
Processing Frank Mason III...
Took 2.382598400115967 seconds to finish count number 65
Processing Roger Mason Jr....
Took 1.63852858543396 seconds to finish count number 66
Processing Tony Massenburg...
Took 1.5515336990356445 seconds to finish count number 67
Processing Eddie Mast...

/tmp/ipykernel_4467/1331416308.py:19: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  final_df = pd.concat([final_df, df])

Took 1.617938756942749 seconds to finish count number 68
Processing Yante Maten...
Took 2.122828483581543 seconds to finish count number 69
Processing Garrison Mathews...
Took 0.5092966556549072 seconds to finish count number 70
Processing Mangok Mathiang...
Took 1.3529014587402344 seconds to finish count number 71
Processing Dakota Mathias...
Took 1.7547481060028076 seconds to finish count number 72
Processing Bennedict Mathurin...
Took 0.5840537548065186 seconds to finish count number 73
Processing Wes Matthews...
Took 1.3661043643951416 seconds to finish count number 74
Processing Wesley Matthews...
Took 0.5791490077972412 seconds to finish count number 75
Processing Ariel Maughan...

/tmp/ipykernel_4467/1331416308.py:19: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  final_df = pd.concat([final_df, df])

Took 1.462611436843872 seconds to finish count number 76
Processing Marlon Maxey...
Took 2.558716297149658 seconds to finish count number 77
Processing Tyrese Maxey...
Took 1.606992244720459 seconds to finish count number 78
Processing Jason Maxiell...
Took 1.8739094734191895 seconds to finish count number 79
Processing Cedric Maxwell...
Took 1.816141128540039 seconds to finish count number 80
Processing Vernon Maxwell...
Took 3.989572525024414 seconds to finish count number 81
Processing Don May...

/tmp/ipykernel_4467/1331416308.py:19: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  final_df = pd.concat([final_df, df])

Took 1.7496895790100098 seconds to finish count number 82
Processing Scott May...
Took 1.6803231239318848 seconds to finish count number 83
Processing Sean May...
Took 1.8957438468933105 seconds to finish count number 84
Processing Lee Mayberry...
Took 2.250375270843506 seconds to finish count number 85
Processing Clyde Mayes...

/tmp/ipykernel_4467/1331416308.py:19: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  final_df = pd.concat([final_df, df])

Took 1.5656414031982422 seconds to finish count number 86
Processing Tharon Mayes...
Took 1.4089412689208984 seconds to finish count number 87
Processing Bill Mayfield...

/tmp/ipykernel_4467/1331416308.py:19: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  final_df = pd.concat([final_df, df])

Took 2.3827993869781494 seconds to finish count number 88
Processing Ken Mayfield...

/tmp/ipykernel_4467/1331416308.py:19: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  final_df = pd.concat([final_df, df])

Took 1.5061872005462646 seconds to finish count number 89
Processing Eric Maynor...
Took 2.3893539905548096 seconds to finish count number 90
Processing O.J. Mayo...
Took 1.9427118301391602 seconds to finish count number 91
Processing Skylar Mays...
Took 0.5784833431243896 seconds to finish count number 92
Processing Travis Mays...
Took 1.7476370334625244 seconds to finish count number 93
Processing Matt Mazza...

/tmp/ipykernel_4467/1331416308.py:19: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  final_df = pd.concat([final_df, df])

Took 3.2713623046875 seconds to finish count number 94
Processing Luc Mbah a Moute...
Took 2.7655417919158936 seconds to finish count number 95
Processing DJ Mbenga...
Took 1.5876333713531494 seconds to finish count number 96
Processing Bob McAdoo...
Took 7.7304847240448 seconds to finish count number 97
Processing James Michael McAdoo...
Took 1.6775531768798828 seconds to finish count number 98
Processing Ken McBride...

/tmp/ipykernel_4467/1331416308.py:19: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  final_df = pd.concat([final_df, df])

Took 2.321605920791626 seconds to finish count number 99
collecting chunk 2800 through 2900
start point = 2800
Processing Miles McBride...
Took 0.6181895732879639 seconds to finish count number 0
Processing Tahjere McCall...
Took 1.8457050323486328 seconds to finish count number 1
Processing Ray McCallum...
Took 1.7464947700500488 seconds to finish count number 2
Processing Bob McCann...
Took 1.6417372226715088 seconds to finish count number 3
Processing Brendan McCann...

/tmp/ipykernel_4467/1331416308.py:19: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  final_df = pd.concat([final_df, df])

Took 3.1000277996063232 seconds to finish count number 4
Processing Mel McCants...
Took 1.6819260120391846 seconds to finish count number 5
Processing Rashad McCants...
Took 2.345628261566162 seconds to finish count number 6
Processing Mike McCarron...

/tmp/ipykernel_4467/1331416308.py:19: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  final_df = pd.concat([final_df, df])

Took 1.5473082065582275 seconds to finish count number 7
Processing Andre McCarter...
Took 2.165426015853882 seconds to finish count number 8
Processing Willie McCarter...

/tmp/ipykernel_4467/1331416308.py:19: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  final_df = pd.concat([final_df, df])

Took 2.380845546722412 seconds to finish count number 9
Processing Johnny McCarthy...

/tmp/ipykernel_4467/1331416308.py:19: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  final_df = pd.concat([final_df, df])

Took 1.3912146091461182 seconds to finish count number 10
Processing Howie McCarty...

/tmp/ipykernel_4467/1331416308.py:19: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  final_df = pd.concat([final_df, df])

Took 2.2543234825134277 seconds to finish count number 11
Processing Kelly McCarty...
Took 1.5760855674743652 seconds to finish count number 12
Processing Walter McCarty...
Took 1.391479730606079 seconds to finish count number 13
Processing Amal McCaskill...
Took 1.636969804763794 seconds to finish count number 14
Processing Patrick McCaw...
Took 1.6390409469604492 seconds to finish count number 15
Processing Dwayne McClain...
Took 2.407236337661743 seconds to finish count number 16
Processing Ted 'Hound Dog' McClain...

/tmp/ipykernel_4467/1331416308.py:19: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  final_df = pd.concat([final_df, df])

Took 1.5134360790252686 seconds to finish count number 17
Processing Dan McClintock...
Took 2.32932186126709 seconds to finish count number 18
Processing Jack McCloskey...

/tmp/ipykernel_4467/1331416308.py:19: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  final_df = pd.concat([final_df, df])

Took 1.6275968551635742 seconds to finish count number 19
Processing George McCloud...
Took 1.6464002132415771 seconds to finish count number 20
Processing Mac McClung...
Took 2.3465001583099365 seconds to finish count number 21
Processing CJ McCollum...
Took 0.5071444511413574 seconds to finish count number 22
Processing John McConathy...

/tmp/ipykernel_4467/1331416308.py:19: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  final_df = pd.concat([final_df, df])

Took 5.700113296508789 seconds to finish count number 23
Processing Paul McConnell...

/tmp/ipykernel_4467/1331416308.py:19: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  final_df = pd.concat([final_df, df])

Took 1.7799959182739258 seconds to finish count number 24
Processing T.J. McConnell...
Took 0.5076518058776855 seconds to finish count number 25
Processing Keith McCord...

/tmp/ipykernel_4467/1331416308.py:19: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  final_df = pd.concat([final_df, df])

Took 1.6555967330932617 seconds to finish count number 26
Processing Tim McCormick...
Took 2.6457841396331787 seconds to finish count number 27
Processing Jelani McCoy...
Took 2.385838747024536 seconds to finish count number 28
Processing Paul McCracken...

/tmp/ipykernel_4467/1331416308.py:19: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  final_df = pd.concat([final_df, df])

Took 2.3285160064697266 seconds to finish count number 29
Processing Chris McCray...
Took 2.859931468963623 seconds to finish count number 30
Processing Rodney McCray...
Took 1.6788229942321777 seconds to finish count number 31
Processing Scooter McCray...
Took 1.5533332824707031 seconds to finish count number 32
Processing Erik McCree...
Took 1.7012956142425537 seconds to finish count number 33
Processing Chris McCullough...
Took 2.4410006999969482 seconds to finish count number 34
Processing John McCullough...

/tmp/ipykernel_4467/1331416308.py:19: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  final_df = pd.concat([final_df, df])

Took 1.7658438682556152 seconds to finish count number 35
Processing Clint McDaniel...
Took 2.2564337253570557 seconds to finish count number 36
Processing Xavier McDaniel...
Took 6.778952598571777 seconds to finish count number 37
Processing Jaden McDaniels...
Took 0.5661945343017578 seconds to finish count number 38
Processing Jalen McDaniels...
Took 0.5555438995361328 seconds to finish count number 39
Processing Jim McDaniels...

/tmp/ipykernel_4467/1331416308.py:19: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  final_df = pd.concat([final_df, df])

Took 1.6063082218170166 seconds to finish count number 40
Processing KJ McDaniels...
Took 2.5472583770751953 seconds to finish count number 41
Processing Doug McDermott...
Took 1.7477049827575684 seconds to finish count number 42
Processing Sean McDermott...
Took 2.451206684112549 seconds to finish count number 43
Processing Ben McDonald...
Took 1.5396795272827148 seconds to finish count number 44
Processing Glenn McDonald...

/tmp/ipykernel_4467/1331416308.py:19: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  final_df = pd.concat([final_df, df])

Took 1.427593469619751 seconds to finish count number 45
Processing Michael McDonald...
Took 2.2978384494781494 seconds to finish count number 46
Processing Hank McDowell...
Took 1.6057534217834473 seconds to finish count number 47
Processing Antonio McDyess...
Took 1.5326659679412842 seconds to finish count number 48
Processing Jim McElroy...
Took 1.4507286548614502 seconds to finish count number 49
Processing Ivan McFarlin...
Took 1.6446175575256348 seconds to finish count number 50
Processing Mel McGaha...

/tmp/ipykernel_4467/1331416308.py:19: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  final_df = pd.concat([final_df, df])

Took 1.650113821029663 seconds to finish count number 51
Processing Mitch McGary...
Took 1.6979894638061523 seconds to finish count number 52
Processing JaVale McGee...
Took 0.5120916366577148 seconds to finish count number 53
Processing Mike McGee...
Took 1.7438158988952637 seconds to finish count number 54
Processing Bill McGill...

/tmp/ipykernel_4467/1331416308.py:19: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  final_df = pd.concat([final_df, df])

Took 1.533764362335205 seconds to finish count number 55
Processing George McGinnis...
Took 1.4819324016571045 seconds to finish count number 56
Processing Jon McGlocklin...

/tmp/ipykernel_4467/1331416308.py:19: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  final_df = pd.concat([final_df, df])

Took 1.824577808380127 seconds to finish count number 57
Processing Bryce McGowens...
Took 2.325624704360962 seconds to finish count number 58
Processing Tracy McGrady...
Took 1.6389448642730713 seconds to finish count number 59
Processing Gil McGregor...

/tmp/ipykernel_4467/1331416308.py:19: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  final_df = pd.concat([final_df, df])

Took 1.4981951713562012 seconds to finish count number 60
Processing Cameron McGriff...
Took 1.6178007125854492 seconds to finish count number 61
Processing Rodney McGruder...
Took 1.7389328479766846 seconds to finish count number 62
Processing Al McGuire...

/tmp/ipykernel_4467/1331416308.py:19: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  final_df = pd.concat([final_df, df])

Took 2.3171632289886475 seconds to finish count number 63
Processing Allie McGuire...

/tmp/ipykernel_4467/1331416308.py:19: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  final_df = pd.concat([final_df, df])

Took 1.465008020401001 seconds to finish count number 64
Processing Dick McGuire...

/tmp/ipykernel_4467/1331416308.py:19: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  final_df = pd.concat([final_df, df])

Took 2.5719523429870605 seconds to finish count number 65
Processing Dominic McGuire...
Took 1.6961448192596436 seconds to finish count number 66
Processing Kevin McHale...
Took 2.665217638015747 seconds to finish count number 67
Processing Jim McIlvaine...
Took 1.4889981746673584 seconds to finish count number 68
Processing Jeff McInnis...
Took 2.1221868991851807 seconds to finish count number 69
Processing Kenny McIntosh...

/tmp/ipykernel_4467/1331416308.py:19: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  final_df = pd.concat([final_df, df])

Took 1.732358455657959 seconds to finish count number 70
Processing Kevin McKenna...
Took 5.829274415969849 seconds to finish count number 71
Processing Forrest McKenzie...
Took 1.6466772556304932 seconds to finish count number 72
Processing Stan McKenzie...

/tmp/ipykernel_4467/1331416308.py:19: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  final_df = pd.concat([final_df, df])

Took 1.4237926006317139 seconds to finish count number 73
Processing Derrick McKey...
Took 2.2762272357940674 seconds to finish count number 74
Processing Aaron McKie...
Took 3.15230393409729 seconds to finish count number 75
Processing Billy McKinney...
Took 2.5712311267852783 seconds to finish count number 76
Processing Carlton McKinney...
Took 1.7478797435760498 seconds to finish count number 77
Processing Horace McKinney...

/tmp/ipykernel_4467/1331416308.py:19: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  final_df = pd.concat([final_df, df])

Took 2.3278567790985107 seconds to finish count number 78
Processing Trey McKinney-Jones...
Took 2.4893958568573 seconds to finish count number 79
Processing Alfonzo McKinnie...
Took 1.846224308013916 seconds to finish count number 80
Processing JaQuori McLaughlin...
Took 1.7325425148010254 seconds to finish count number 81
Processing Jordan McLaughlin...
Took 0.6060929298400879 seconds to finish count number 82
Processing Ben McLemore...
Took 2.8552639484405518 seconds to finish count number 83
Processing Mccoy McLemore...

/tmp/ipykernel_4467/1331416308.py:19: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  final_df = pd.concat([final_df, df])

Took 1.4561493396759033 seconds to finish count number 84
Processing George McLeod...

/tmp/ipykernel_4467/1331416308.py:19: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  final_df = pd.concat([final_df, df])

Took 1.5499207973480225 seconds to finish count number 85
Processing Keith McLeod...
Took 2.3717539310455322 seconds to finish count number 86
Processing Roshown McLeod...
Took 2.5373375415802 seconds to finish count number 87
Processing Jack McMahon...

/tmp/ipykernel_4467/1331416308.py:19: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  final_df = pd.concat([final_df, df])

Took 1.5039825439453125 seconds to finish count number 88
Processing Nate McMillan...
Took 3.4837708473205566 seconds to finish count number 89
Processing Tom McMillen...
Took 1.7381088733673096 seconds to finish count number 90
Processing Jim McMillian...

/tmp/ipykernel_4467/1331416308.py:19: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  final_df = pd.concat([final_df, df])

Took 1.770993947982788 seconds to finish count number 91
Processing Shellie McMillon...

/tmp/ipykernel_4467/1331416308.py:19: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  final_df = pd.concat([final_df, df])

Took 1.4342403411865234 seconds to finish count number 92
Processing Mal McMullan...

/tmp/ipykernel_4467/1331416308.py:19: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  final_df = pd.concat([final_df, df])

Took 1.3561525344848633 seconds to finish count number 93
Processing Chet McNabb...

/tmp/ipykernel_4467/1331416308.py:19: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  final_df = pd.concat([final_df, df])

Took 2.4120497703552246 seconds to finish count number 94
Processing Mark McNamara...
Took 1.658290147781372 seconds to finish count number 95
Processing Joe McNamee...

/tmp/ipykernel_4467/1331416308.py:19: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  final_df = pd.concat([final_df, df])

Took 1.6071834564208984 seconds to finish count number 96
Processing Jerel McNeal...
Took 2.8156983852386475 seconds to finish count number 97
Processing Chris McNealy...
Took 1.799217700958252 seconds to finish count number 98
Processing Bob McNeill...

/tmp/ipykernel_4467/1331416308.py:19: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  final_df = pd.concat([final_df, df])

Took 1.4297106266021729 seconds to finish count number 99
collecting chunk 2900 through 3000
start point = 2900
Processing Larry McNeill...
Took 1.7476789951324463 seconds to finish count number 0
Processing Carl McNulty...
Took 3.579988479614258 seconds to finish count number 1
Processing Paul McPherson...

/tmp/ipykernel_4467/1331416308.py:19: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  final_df = pd.concat([final_df, df])

Took 1.5542302131652832 seconds to finish count number 2
Processing Cozell McQueen...
Took 1.6462841033935547 seconds to finish count number 3
Processing Jordan McRae...
Took 3.369497060775757 seconds to finish count number 4
Processing Thales McReynolds...

/tmp/ipykernel_4467/1331416308.py:19: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  final_df = pd.concat([final_df, df])

Took 2.570204257965088 seconds to finish count number 5
Processing Josh McRoberts...
Took 2.747720718383789 seconds to finish count number 6
Processing Eric McWilliams...

/tmp/ipykernel_4467/1331416308.py:19: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  final_df = pd.concat([final_df, df])

Took 2.5667564868927 seconds to finish count number 7
Processing George Mearns...

/tmp/ipykernel_4467/1331416308.py:19: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  final_df = pd.concat([final_df, df])

Took 1.9375605583190918 seconds to finish count number 8
Processing Slava Medvedenko...
Took 1.6752898693084717 seconds to finish count number 9
Processing Darnell Mee...
Took 1.912306308746338 seconds to finish count number 10
Processing Jodie Meeks...
Took 1.6462912559509277 seconds to finish count number 11
Processing Cliff Meely...

/tmp/ipykernel_4467/1331416308.py:19: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  final_df = pd.concat([final_df, df])

Took 1.5094115734100342 seconds to finish count number 12
Processing Scott Meents...
Took 1.8363866806030273 seconds to finish count number 13
Processing Dick Mehen...

/tmp/ipykernel_4467/1331416308.py:19: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  final_df = pd.concat([final_df, df])

Took 2.2894484996795654 seconds to finish count number 14
Processing Don Meineke...

/tmp/ipykernel_4467/1331416308.py:19: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  final_df = pd.concat([final_df, df])

Took 2.4529240131378174 seconds to finish count number 15
Processing Carl Meinhold...

/tmp/ipykernel_4467/1331416308.py:19: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  final_df = pd.concat([final_df, df])

Took 1.6041607856750488 seconds to finish count number 16
Processing Salah Mejri...
Took 1.3529138565063477 seconds to finish count number 17
Processing Gal Mekel...
Took 2.58805513381958 seconds to finish count number 18
Processing Bill Melchionni...

/tmp/ipykernel_4467/1331416308.py:19: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  final_df = pd.concat([final_df, df])

Took 2.949950695037842 seconds to finish count number 19
Processing Gary Melchionni...

/tmp/ipykernel_4467/1331416308.py:19: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  final_df = pd.concat([final_df, df])

Took 1.5109357833862305 seconds to finish count number 20
Processing Nicolo Melli...
Took 2.3839354515075684 seconds to finish count number 21
Processing Fab Melo...
Took 2.861574172973633 seconds to finish count number 22
Processing De'Anthony Melton...
Took 1.8310341835021973 seconds to finish count number 23
Processing Ed Melvin...

/tmp/ipykernel_4467/1331416308.py:19: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  final_df = pd.concat([final_df, df])

Took 1.4707777500152588 seconds to finish count number 24
Processing Dean Meminger...

/tmp/ipykernel_4467/1331416308.py:19: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  final_df = pd.concat([final_df, df])

Took 1.5917730331420898 seconds to finish count number 25
Processing Chuck Mencel...

/tmp/ipykernel_4467/1331416308.py:19: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  final_df = pd.concat([final_df, df])

Took 1.6366050243377686 seconds to finish count number 26
Processing John Mengelt...
Took 1.430490493774414 seconds to finish count number 27
Processing Ken Menke...

/tmp/ipykernel_4467/1331416308.py:19: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  final_df = pd.concat([final_df, df])

Took 1.6728870868682861 seconds to finish count number 28
Processing Pops Mensah-Bonsu...
Took 4.782408714294434 seconds to finish count number 29
Processing Ron Mercer...
Took 1.533843755722046 seconds to finish count number 30
Processing Joe Meriweather...
Took 1.4500093460083008 seconds to finish count number 31
Processing Porter Meriwether...

/tmp/ipykernel_4467/1331416308.py:19: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  final_df = pd.concat([final_df, df])

Took 2.343621015548706 seconds to finish count number 32
Processing Sam Merrill...
Took 0.45873236656188965 seconds to finish count number 33
Processing Tom Meschery...

/tmp/ipykernel_4467/1331416308.py:19: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  final_df = pd.concat([final_df, df])

Took 2.356674909591675 seconds to finish count number 34
Processing Chimezie Metu...
Took 0.4578113555908203 seconds to finish count number 35
Processing Loren Meyer...
Took 1.6743974685668945 seconds to finish count number 36
Processing Dave Meyers...
Took 1.6215882301330566 seconds to finish count number 37
Processing Stan Miasek...

/tmp/ipykernel_4467/1331416308.py:19: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  final_df = pd.concat([final_df, df])

Took 2.492183208465576 seconds to finish count number 38
Processing Larry Micheaux...
Took 1.5831542015075684 seconds to finish count number 39
Processing Vasilije Micic...
Took 0.5155081748962402 seconds to finish count number 40
Processing Jordan Mickey...
Took 2.3908491134643555 seconds to finish count number 41
Processing Khris Middleton...
Took 0.4999864101409912 seconds to finish count number 42
Processing Zigmund Mihalik...

/tmp/ipykernel_4467/1331416308.py:19: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  final_df = pd.concat([final_df, df])

Took 1.6236026287078857 seconds to finish count number 43
Processing Chris Mihm...
Took 1.6264491081237793 seconds to finish count number 44
Processing Eric Mika...
Took 1.6705443859100342 seconds to finish count number 45
Processing Ed Mikan...

/tmp/ipykernel_4467/1331416308.py:19: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  final_df = pd.concat([final_df, df])

Took 1.8495292663574219 seconds to finish count number 46
Processing George Mikan...

/tmp/ipykernel_4467/1331416308.py:19: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  final_df = pd.concat([final_df, df])

Took 1.6277756690979004 seconds to finish count number 47
Processing Larry Mikan...

/tmp/ipykernel_4467/1331416308.py:19: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  final_df = pd.concat([final_df, df])

Took 1.6230885982513428 seconds to finish count number 48
Processing Vern Mikkelsen...

/tmp/ipykernel_4467/1331416308.py:19: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  final_df = pd.concat([final_df, df])

Took 4.837141275405884 seconds to finish count number 49
Processing Al Miksis...

/tmp/ipykernel_4467/1331416308.py:19: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  final_df = pd.concat([final_df, df])

Took 2.443758964538574 seconds to finish count number 50
Processing Aaron Miles...
Took 2.692781448364258 seconds to finish count number 51
Processing CJ Miles...
Took 3.077904462814331 seconds to finish count number 52
Processing Darius Miles...
Took 2.435784101486206 seconds to finish count number 53
Processing Eddie Miles...

/tmp/ipykernel_4467/1331416308.py:19: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  final_df = pd.concat([final_df, df])

Took 2.5233099460601807 seconds to finish count number 54
Processing Marko Milic...
Took 2.905884027481079 seconds to finish count number 55
Processing Darko Milicic...
Took 1.7309062480926514 seconds to finish count number 56
Processing Nat Militzok...

/tmp/ipykernel_4467/1331416308.py:19: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  final_df = pd.concat([final_df, df])

Took 3.569373607635498 seconds to finish count number 57
Processing Andre Miller...
Took 4.023855209350586 seconds to finish count number 58
Processing Anthony Miller...
Took 1.4101674556732178 seconds to finish count number 59
Processing Bill Miller...

/tmp/ipykernel_4467/1331416308.py:19: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  final_df = pd.concat([final_df, df])

Took 1.549163818359375 seconds to finish count number 60
Processing Bob Miller...
Took 1.6425549983978271 seconds to finish count number 61
Processing Brad Miller...
Took 1.9166233539581299 seconds to finish count number 62
Processing Brandon Miller...
Took 1.6777610778808594 seconds to finish count number 63
Processing Darius Miller...
Took 2.4091713428497314 seconds to finish count number 64
Processing Dick Miller...
Took 2.590679407119751 seconds to finish count number 65
Processing Eddie Miller...

/tmp/ipykernel_4467/1331416308.py:19: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  final_df = pd.concat([final_df, df])

Took 2.3810973167419434 seconds to finish count number 66
Processing Harry Miller...

/tmp/ipykernel_4467/1331416308.py:19: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  final_df = pd.concat([final_df, df])

Took 1.9948971271514893 seconds to finish count number 67
Processing Jay Miller...

/tmp/ipykernel_4467/1331416308.py:19: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  final_df = pd.concat([final_df, df])

Took 2.305623769760132 seconds to finish count number 68
Processing Jordan Miller...
Took 0.556875467300415 seconds to finish count number 69
Processing Leonard Miller...
Took 0.661163330078125 seconds to finish count number 70
Processing Malcolm Miller...
Took 1.7966513633728027 seconds to finish count number 71
Processing Mike Miller...
Took 1.7652173042297363 seconds to finish count number 72
Processing Oliver Miller...
Took 2.4848477840423584 seconds to finish count number 73
Processing Quincy Miller...
Took 1.6939473152160645 seconds to finish count number 74
Processing Reggie Miller...
Took 1.6349596977233887 seconds to finish count number 75
Processing Walt Miller...

/tmp/ipykernel_4467/1331416308.py:19: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  final_df = pd.concat([final_df, df])

Took 2.463871717453003 seconds to finish count number 76
Processing Chris Mills...
Took 1.420863151550293 seconds to finish count number 77
Processing John Mills...

/tmp/ipykernel_4467/1331416308.py:19: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  final_df = pd.concat([final_df, df])

Took 1.3507521152496338 seconds to finish count number 78
Processing Patty Mills...
Took 0.4940314292907715 seconds to finish count number 79
Processing Terry Mills...
Took 3.3810513019561768 seconds to finish count number 80
Processing Elijah Millsap...
Took 1.555741310119629 seconds to finish count number 81
Processing Paul Millsap...
Took 4.922536373138428 seconds to finish count number 82
Processing Shake Milton...
Took 0.5839958190917969 seconds to finish count number 83
Processing Justin Minaya...
Took 1.5937600135803223 seconds to finish count number 84
Processing Harold Miner...
Took 1.6131689548492432 seconds to finish count number 85
Processing Dirk Minniefield...
Took 5.547850847244263 seconds to finish count number 86
Processing Dave Minor...

/tmp/ipykernel_4467/1331416308.py:19: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  final_df = pd.concat([final_df, df])

Took 1.491053581237793 seconds to finish count number 87
Processing Greg Minor...
Took 5.4610068798065186 seconds to finish count number 88
Processing Mark Minor...

/tmp/ipykernel_4467/1331416308.py:19: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  final_df = pd.concat([final_df, df])

Took 1.5481488704681396 seconds to finish count number 89
Processing Josh Minott...
Took 0.5162696838378906 seconds to finish count number 90
Processing Nikola Mirotic...
Took 1.3943588733673096 seconds to finish count number 91
Processing Wat Misaka...

/tmp/ipykernel_4467/1331416308.py:19: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  final_df = pd.concat([final_df, df])

Took 1.3378081321716309 seconds to finish count number 92
Processing Jason Miskiri...
Took 1.8578300476074219 seconds to finish count number 93
Processing Davion Mitchell...
Took 0.5736393928527832 seconds to finish count number 94
Processing Donovan Mitchell...
Took 0.509688138961792 seconds to finish count number 95
Processing Mike Mitchell...
Took 2.3937251567840576 seconds to finish count number 96
Processing Murray Mitchell...

/tmp/ipykernel_4467/1331416308.py:19: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  final_df = pd.concat([final_df, df])

Took 1.605191707611084 seconds to finish count number 97
Processing Sam Mitchell...
Took 4.404952526092529 seconds to finish count number 98
Processing Todd Mitchell...
Took 1.5469789505004883 seconds to finish count number 99
collecting chunk 3000 through 3100
start point = 3000
Processing Tony Mitchell...
Took 1.6112034320831299 seconds to finish count number 0
Processing Tony Mitchell...
Took 1.5101163387298584 seconds to finish count number 1
Processing Naz Mitrou-Long...
Took 3.4378416538238525 seconds to finish count number 2
Processing Steve Mix...
Took 1.9564540386199951 seconds to finish count number 3
Processing Bill Mlkvy...

/tmp/ipykernel_4467/1331416308.py:19: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  final_df = pd.concat([final_df, df])

Took 1.61708402633667 seconds to finish count number 4
Processing Cuttino Mobley...
Took 2.4841439723968506 seconds to finish count number 5
Processing Eric Mobley...
Took 1.694420576095581 seconds to finish count number 6
Processing Evan Mobley...
Took 0.5150079727172852 seconds to finish count number 7
Processing Isaiah Mobley...
Took 0.506885290145874 seconds to finish count number 8
Processing Larry Moffett...

/tmp/ipykernel_4467/1331416308.py:19: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  final_df = pd.concat([final_df, df])

Took 5.154093503952026 seconds to finish count number 9
Processing Leo Mogus...

/tmp/ipykernel_4467/1331416308.py:19: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  final_df = pd.concat([final_df, df])

Took 5.837320804595947 seconds to finish count number 10
Processing Nazr Mohammed...
Took 3.7020039558410645 seconds to finish count number 11
Processing Jerome Moiso...
Took 1.6303887367248535 seconds to finish count number 12
Processing Paul Mokeski...
Took 2.4454457759857178 seconds to finish count number 13
Processing Adam Mokoka...
Took 1.9453282356262207 seconds to finish count number 14
Processing Jack Molinas...

/tmp/ipykernel_4467/1331416308.py:19: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  final_df = pd.concat([final_df, df])

Took 2.873952865600586 seconds to finish count number 15
Processing Wayne Molis...

/tmp/ipykernel_4467/1331416308.py:19: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  final_df = pd.concat([final_df, df])

Took 2.560598134994507 seconds to finish count number 16
Processing Sidney Moncrief...
Took 2.451741933822632 seconds to finish count number 17
Processing Chima Moneke...
Took 1.7476465702056885 seconds to finish count number 18
Processing Eric Money...

/tmp/ipykernel_4467/1331416308.py:19: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  final_df = pd.concat([final_df, df])

Took 2.0478591918945312 seconds to finish count number 19
Processing Sergei Monia...
Took 1.6996092796325684 seconds to finish count number 20
Processing Malik Monk...
Took 0.5266420841217041 seconds to finish count number 21
Processing Earl Monroe...

/tmp/ipykernel_4467/1331416308.py:19: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  final_df = pd.concat([final_df, df])

Took 1.9797477722167969 seconds to finish count number 22
Processing Greg Monroe...
Took 1.736414909362793 seconds to finish count number 23
Processing Rodney Monroe...
Took 1.909632921218872 seconds to finish count number 24
Processing Luis Montero...
Took 1.8624467849731445 seconds to finish count number 25
Processing Howie Montgomery...

/tmp/ipykernel_4467/1331416308.py:19: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  final_df = pd.concat([final_df, df])

Took 1.439258337020874 seconds to finish count number 26
Processing Eric Montross...
Took 1.5187153816223145 seconds to finish count number 27
Processing Moses Moody...
Took 2.2361767292022705 seconds to finish count number 28
Processing Jamario Moon...
Took 2.306506872177124 seconds to finish count number 29
Processing Xavier Moon...
Took 0.5665748119354248 seconds to finish count number 30
Processing Jim Mooney...

/tmp/ipykernel_4467/1331416308.py:19: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  final_df = pd.concat([final_df, df])

Took 1.6617560386657715 seconds to finish count number 31
Processing Matt Mooney...
Took 2.362147092819214 seconds to finish count number 32
Processing Andre Moore...
Took 1.4996020793914795 seconds to finish count number 33
Processing Ben Moore...
Took 1.5743353366851807 seconds to finish count number 34
Processing E'Twaun Moore...
Took 1.600142478942871 seconds to finish count number 35
Processing Jackie Moore...

/tmp/ipykernel_4467/1331416308.py:19: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  final_df = pd.concat([final_df, df])

Took 1.7584915161132812 seconds to finish count number 36
Processing Johnny Moore...
Took 2.5639567375183105 seconds to finish count number 37
Processing Lowes Moore...
Took 2.442816972732544 seconds to finish count number 38
Processing Mikki Moore...
Took 1.6645927429199219 seconds to finish count number 39
Processing Otto Moore...

/tmp/ipykernel_4467/1331416308.py:19: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  final_df = pd.concat([final_df, df])

Took 2.9819068908691406 seconds to finish count number 40
Processing Ron Moore...
Took 1.6148879528045654 seconds to finish count number 41
Processing Tracy Moore...
Took 1.5777242183685303 seconds to finish count number 42
Processing Wendell Moore Jr....
Took 0.6141316890716553 seconds to finish count number 43
Processing Ja Morant...
Took 0.5631139278411865 seconds to finish count number 44
Processing Eric Moreland...
Took 2.2731380462646484 seconds to finish count number 45
Processing Jackie Moreland...

/tmp/ipykernel_4467/1331416308.py:19: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  final_df = pd.concat([final_df, df])

Took 2.3593194484710693 seconds to finish count number 46
Processing Guy Morgan...
Took 2.0529582500457764 seconds to finish count number 47
Processing Juwan Morgan...
Took 1.5005073547363281 seconds to finish count number 48
Processing Rex Morgan...

/tmp/ipykernel_4467/1331416308.py:19: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  final_df = pd.concat([final_df, df])

Took 1.6421928405761719 seconds to finish count number 49
Processing Elmo Morgenthaler...

/tmp/ipykernel_4467/1331416308.py:19: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  final_df = pd.concat([final_df, df])

Took 1.4270288944244385 seconds to finish count number 50
Processing Darren Morningstar...
Took 3.7485835552215576 seconds to finish count number 51
Processing Chris Morris...
Took 1.4710934162139893 seconds to finish count number 52
Processing Darius Morris...
Took 1.5739004611968994 seconds to finish count number 53
Processing Isaiah Morris...
Took 1.73504638671875 seconds to finish count number 54
Processing Jaylen Morris...
Took 1.6131682395935059 seconds to finish count number 55
Processing Markieff Morris...
Took 0.7558934688568115 seconds to finish count number 56
Processing Max Morris...

/tmp/ipykernel_4467/1331416308.py:19: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  final_df = pd.concat([final_df, df])

Took 1.5403268337249756 seconds to finish count number 57
Processing Monte Morris...
Took 0.5824117660522461 seconds to finish count number 58
Processing Randolph Morris...
Took 2.0746982097625732 seconds to finish count number 59
Processing Terence Morris...
Took 2.1247920989990234 seconds to finish count number 60
Processing Marcus Morris Sr....
Took 1.4402248859405518 seconds to finish count number 61
Processing Adam Morrison...
Took 2.3580899238586426 seconds to finish count number 62
Processing Dwight Morrison...

/tmp/ipykernel_4467/1331416308.py:19: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  final_df = pd.concat([final_df, df])

Took 2.434067726135254 seconds to finish count number 63
Processing Mike Morrison...
Took 2.610172748565674 seconds to finish count number 64
Processing Anthony Morrow...
Took 1.8117802143096924 seconds to finish count number 65
Processing Dwayne Morton...
Took 2.661268949508667 seconds to finish count number 66
Processing John Morton...
Took 2.7665133476257324 seconds to finish count number 67
Processing Richard Morton...
Took 1.8489956855773926 seconds to finish count number 68
Processing Glenn Mosley...

/tmp/ipykernel_4467/1331416308.py:19: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  final_df = pd.concat([final_df, df])

Took 6.562218427658081 seconds to finish count number 69
Processing Perry Moss...
Took 2.5216591358184814 seconds to finish count number 70
Processing Lawrence Moten...
Took 2.7120418548583984 seconds to finish count number 71
Processing Donatas Motiejunas...
Took 1.4845666885375977 seconds to finish count number 72
Processing Johnathan Motley...
Took 1.7827508449554443 seconds to finish count number 73
Processing Hanno Mottola...
Took 1.6336395740509033 seconds to finish count number 74
Processing Arnett Moultrie...
Took 1.5280673503875732 seconds to finish count number 75
Processing Alonzo Mourning...
Took 7.086831569671631 seconds to finish count number 76
Processing Timofey Mozgov...
Took 1.6925177574157715 seconds to finish count number 77
Processing Chuck Mrazovich...

/tmp/ipykernel_4467/1331416308.py:19: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  final_df = pd.concat([final_df, df])

Took 1.5435218811035156 seconds to finish count number 78
Processing Emmanuel Mudiay...
Took 2.494995355606079 seconds to finish count number 79
Processing Erwin Mueller...

/tmp/ipykernel_4467/1331416308.py:19: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  final_df = pd.concat([final_df, df])

Took 1.806849479675293 seconds to finish count number 80
Processing Shabazz Muhammad...
Took 1.5742321014404297 seconds to finish count number 81
Processing Mychal Mulder...
Took 2.5129685401916504 seconds to finish count number 82
Processing Joe Mullaney...

/tmp/ipykernel_4467/1331416308.py:19: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  final_df = pd.concat([final_df, df])

Took 2.6015100479125977 seconds to finish count number 83
Processing Bob Mullens...

/tmp/ipykernel_4467/1331416308.py:19: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  final_df = pd.concat([final_df, df])

Took 1.599677324295044 seconds to finish count number 84
Processing Byron Mullens...
Took 1.5388309955596924 seconds to finish count number 85
Processing Chris Mullin...
Took 1.9712333679199219 seconds to finish count number 86
Processing Jeff Mullins...

/tmp/ipykernel_4467/1331416308.py:19: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  final_df = pd.concat([final_df, df])

Took 2.6323795318603516 seconds to finish count number 87
Processing Todd Mundt...
Took 1.42820405960083 seconds to finish count number 88
Processing Xavier Munford...
Took 2.3957979679107666 seconds to finish count number 89
Processing Chris Munk...
Took 1.628570318222046 seconds to finish count number 90
Processing George Munroe...

/tmp/ipykernel_4467/1331416308.py:19: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  final_df = pd.concat([final_df, df])

Took 1.8208832740783691 seconds to finish count number 91
Processing Eric Murdock...
Took 2.391653537750244 seconds to finish count number 92
Processing Gheorghe Muresan...
Took 2.9482991695404053 seconds to finish count number 93
Processing Ade Murkey...
Took 3.617081880569458 seconds to finish count number 94
Processing Allen Murphy...

/tmp/ipykernel_4467/1331416308.py:19: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  final_df = pd.concat([final_df, df])

Took 2.327721118927002 seconds to finish count number 95
Processing Calvin Murphy...
Took 1.5110056400299072 seconds to finish count number 96
Processing Dick Murphy...

/tmp/ipykernel_4467/1331416308.py:19: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  final_df = pd.concat([final_df, df])

Took 1.4299824237823486 seconds to finish count number 97
Processing Erik Murphy...
Took 1.323732614517212 seconds to finish count number 98
Processing Jay Murphy...
Took 1.3709187507629395 seconds to finish count number 99
collecting chunk 3100 through 3200
start point = 3100
Processing John Murphy...
Took 2.4363045692443848 seconds to finish count number 0
Processing Kevin Murphy...

/tmp/ipykernel_4467/1331416308.py:19: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  final_df = pd.concat([final_df, df])

Took 1.543175458908081 seconds to finish count number 1
Processing Ronnie Murphy...
Took 6.464263677597046 seconds to finish count number 2
Processing Tod Murphy...
Took 2.534001111984253 seconds to finish count number 3
Processing Troy Murphy...
Took 1.7495450973510742 seconds to finish count number 4
Processing Trey Murphy III...
Took 0.5862185955047607 seconds to finish count number 5
Processing Dejounte Murray...
Took 0.511329174041748 seconds to finish count number 6
Processing Flip Murray...
Took 1.5367214679718018 seconds to finish count number 7
Processing Jamal Murray...
Took 2.4789183139801025 seconds to finish count number 8
Processing Keegan Murray...
Took 0.5905313491821289 seconds to finish count number 9
Processing Ken Murray...

/tmp/ipykernel_4467/1331416308.py:19: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  final_df = pd.concat([final_df, df])

Took 3.691293239593506 seconds to finish count number 10
Processing Kris Murray...
Took 0.6086623668670654 seconds to finish count number 11
Processing Lamond Murray...
Took 3.6856653690338135 seconds to finish count number 12
Processing Tracy Murray...
Took 2.3096976280212402 seconds to finish count number 13
Processing Dorie Murrey...

/tmp/ipykernel_4467/1331416308.py:19: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  final_df = pd.concat([final_df, df])

Took 1.5859136581420898 seconds to finish count number 14
Processing Toure' Murry...
Took 1.8390295505523682 seconds to finish count number 15
Processing Dzanan Musa...
Took 1.6383206844329834 seconds to finish count number 16
Processing Mike Muscala...
Took 0.5658442974090576 seconds to finish count number 17
Processing Angelo Musi...

/tmp/ipykernel_4467/1331416308.py:19: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  final_df = pd.concat([final_df, df])

Took 1.6196565628051758 seconds to finish count number 18
Processing Jerrod Mustaf...
Took 1.7459206581115723 seconds to finish count number 19
Processing Dikembe Mutombo...
Took 1.7191588878631592 seconds to finish count number 20
Processing Martin Muursepp...
Took 2.478135347366333 seconds to finish count number 21
Processing Pete Myers...
Took 2.344684600830078 seconds to finish count number 22
Processing Svi Mykhailiuk...
Took 2.531503438949585 seconds to finish count number 23
Processing Makhtar N'diaye...
Took 2.2524611949920654 seconds to finish count number 24
Processing Makhtar N'diaye...

/tmp/ipykernel_4467/1331416308.py:19: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  final_df = pd.concat([final_df, df])

Took 1.7582123279571533 seconds to finish count number 25
Processing Mamadou N'diaye...
Took 2.696660041809082 seconds to finish count number 26
Processing Bob Naber...

/tmp/ipykernel_4467/1331416308.py:19: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  final_df = pd.concat([final_df, df])

Took 3.5702619552612305 seconds to finish count number 27
Processing Boris Nachamkin...

/tmp/ipykernel_4467/1331416308.py:19: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  final_df = pd.concat([final_df, df])

Took 1.4446642398834229 seconds to finish count number 28
Processing Bostjan Nachbar...
Took 1.4385578632354736 seconds to finish count number 29
Processing Abdel Nader...
Took 2.535675287246704 seconds to finish count number 30
Processing Jerry Nagel...

/tmp/ipykernel_4467/1331416308.py:19: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  final_df = pd.concat([final_df, df])

Took 1.3505525588989258 seconds to finish count number 31
Processing Fred Nagy...

/tmp/ipykernel_4467/1331416308.py:19: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  final_df = pd.concat([final_df, df])

Took 1.507692575454712 seconds to finish count number 32
Processing Lee Nailon...
Took 1.7265055179595947 seconds to finish count number 33
Processing Eduardo Najera...
Took 4.131779909133911 seconds to finish count number 34
Processing Larry Nance...
Took 1.8295795917510986 seconds to finish count number 35
Processing Larry Nance Jr....
Took 0.5281808376312256 seconds to finish count number 36
Processing Shabazz Napier...
Took 1.5919885635375977 seconds to finish count number 37
Processing Paul Napolitano...

/tmp/ipykernel_4467/1331416308.py:19: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  final_df = pd.concat([final_df, df])

Took 1.6865901947021484 seconds to finish count number 38
Processing Bob Nash...

/tmp/ipykernel_4467/1331416308.py:19: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  final_df = pd.concat([final_df, df])

Took 1.5499942302703857 seconds to finish count number 39
Processing Charles Nash...

/tmp/ipykernel_4467/1331416308.py:19: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  final_df = pd.concat([final_df, df])

Took 4.862964391708374 seconds to finish count number 40
Processing Steve Nash...
Took 1.4240145683288574 seconds to finish count number 41
Processing Swen Nater...
Took 2.410045862197876 seconds to finish count number 42
Processing Howard Nathan...
Took 1.7943999767303467 seconds to finish count number 43
Processing Calvin Natt...
Took 1.6506266593933105 seconds to finish count number 44
Processing Kenny Natt...
Took 2.3429858684539795 seconds to finish count number 45
Processing Willie Naulls...

/tmp/ipykernel_4467/1331416308.py:19: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  final_df = pd.concat([final_df, df])

Took 1.9423553943634033 seconds to finish count number 46
Processing Juan Carlos Navarro...
Took 2.380664587020874 seconds to finish count number 47
Processing Hamady Ndiaye...
Took 1.949613094329834 seconds to finish count number 48
Processing Boniface Ndong...
Took 1.7303905487060547 seconds to finish count number 49
Processing Maurice Ndour...
Took 1.5663235187530518 seconds to finish count number 50
Processing Craig Neal...
Took 1.6271204948425293 seconds to finish count number 51
Processing Gary Neal...
Took 1.5039446353912354 seconds to finish count number 52
Processing Jim Neal...

/tmp/ipykernel_4467/1331416308.py:19: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  final_df = pd.concat([final_df, df])

Took 1.5637800693511963 seconds to finish count number 53
Processing Lloyd Neal...

/tmp/ipykernel_4467/1331416308.py:19: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  final_df = pd.concat([final_df, df])

Took 1.7360258102416992 seconds to finish count number 54
Processing Ed Nealy...
Took 1.4825575351715088 seconds to finish count number 55
Processing Nemanja Nedovic...
Took 2.835158348083496 seconds to finish count number 56
Processing Al Negratti...

/tmp/ipykernel_4467/1331416308.py:19: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  final_df = pd.concat([final_df, df])

Took 1.4349415302276611 seconds to finish count number 57
Processing Barry Nelson...

/tmp/ipykernel_4467/1331416308.py:19: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  final_df = pd.concat([final_df, df])

Took 1.9491887092590332 seconds to finish count number 58
Processing DeMarcus Nelson...
Took 1.9950823783874512 seconds to finish count number 59
Processing Don Nelson...

/tmp/ipykernel_4467/1331416308.py:19: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  final_df = pd.concat([final_df, df])

Took 4.709848165512085 seconds to finish count number 60
Processing Jameer Nelson...
Took 1.8744540214538574 seconds to finish count number 61
Processing Louie Nelson...

/tmp/ipykernel_4467/1331416308.py:19: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  final_df = pd.concat([final_df, df])

Took 3.5681777000427246 seconds to finish count number 62
Processing Andrew Nembhard...
Took 0.6268143653869629 seconds to finish count number 63
Processing Ruben Nembhard...
Took 1.5327270030975342 seconds to finish count number 64
Processing RJ Nembhard Jr....
Took 1.6469194889068604 seconds to finish count number 65
Processing Nene...
Took 2.042459726333618 seconds to finish count number 66
Processing Tyrone Nesby...
Took 2.489652156829834 seconds to finish count number 67
Processing Aaron Nesmith...
Took 0.5968146324157715 seconds to finish count number 68
Processing Martin Nessley...
Took 2.158200263977051 seconds to finish count number 69
Processing Rasho Nesterovic...
Took 2.8593430519104004 seconds to finish count number 70
Processing Raul Neto...
Took 2.144073009490967 seconds to finish count number 71
Processing Johnny Neumann...

/tmp/ipykernel_4467/1331416308.py:19: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  final_df = pd.concat([final_df, df])

Took 1.6506953239440918 seconds to finish count number 72
Processing Paul Neumann...

/tmp/ipykernel_4467/1331416308.py:19: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  final_df = pd.concat([final_df, df])

Took 1.5841338634490967 seconds to finish count number 73
Processing Chuck Nevitt...
Took 1.5738699436187744 seconds to finish count number 74
Processing Melvin Newbern...
Took 2.120713949203491 seconds to finish count number 75
Processing Ivano Newbill...
Took 1.6991055011749268 seconds to finish count number 76
Processing Ira Newble...
Took 1.9825100898742676 seconds to finish count number 77
Processing Mike Newlin...
Took 1.889301061630249 seconds to finish count number 78
Processing Johnny Newman...
Took 1.8359458446502686 seconds to finish count number 79
Processing Malik Newman...
Took 1.516045331954956 seconds to finish count number 80
Processing Dave Newmark...

/tmp/ipykernel_4467/1331416308.py:19: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  final_df = pd.concat([final_df, df])

Took 1.8320903778076172 seconds to finish count number 81
Processing Georges Niang...
Took 0.6046249866485596 seconds to finish count number 82
Processing Demetris Nichols...
Took 2.8211123943328857 seconds to finish count number 83
Processing Jack Nichols...

/tmp/ipykernel_4467/1331416308.py:19: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  final_df = pd.concat([final_df, df])

Took 2.7339224815368652 seconds to finish count number 84
Processing Andrew Nicholson...
Took 1.6275920867919922 seconds to finish count number 85
Processing Gaylon Nickerson...
Took 1.5675225257873535 seconds to finish count number 86
Processing Carl Nicks...
Took 1.800262451171875 seconds to finish count number 87
Processing Rich Niemann...

/tmp/ipykernel_4467/1331416308.py:19: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  final_df = pd.concat([final_df, df])

Took 4.154959678649902 seconds to finish count number 88
Processing John Niemiera...

/tmp/ipykernel_4467/1331416308.py:19: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  final_df = pd.concat([final_df, df])

Took 1.8100864887237549 seconds to finish count number 89
Processing Mike Niles...
Took 14.721235513687134 seconds to finish count number 90
Processing Kurt Nimphius...
Took 2.3814289569854736 seconds to finish count number 91
Processing Daishen Nix...
Took 0.9011635780334473 seconds to finish count number 92
Processing Dyron Nix...
Took 1.7295949459075928 seconds to finish count number 93
Processing Norm Nixon...
Took 1.3873214721679688 seconds to finish count number 94
Processing Zeke Nnaji...
Took 1.727985143661499 seconds to finish count number 95
Processing Joakim Noah...
Took 1.91758394241333 seconds to finish count number 96
Processing Chuck Noble...

/tmp/ipykernel_4467/1331416308.py:19: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  final_df = pd.concat([final_df, df])

Took 1.6253576278686523 seconds to finish count number 97
Processing Andres Nocioni...
Took 1.5753302574157715 seconds to finish count number 98
Processing David Noel...
Took 1.5530648231506348 seconds to finish count number 99
collecting chunk 3200 through 3300
start point = 3200
Processing Nerlens Noel...
Took 1.5609874725341797 seconds to finish count number 0
Processing Paul Noel...

/tmp/ipykernel_4467/1331416308.py:19: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  final_df = pd.concat([final_df, df])

Took 1.7079591751098633 seconds to finish count number 1
Processing Lucas Nogueira...
Took 1.7962512969970703 seconds to finish count number 2
Processing Jim Nolan...

/tmp/ipykernel_4467/1331416308.py:19: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  final_df = pd.concat([final_df, df])

Took 3.001946449279785 seconds to finish count number 3
Processing Paul Nolen...

/tmp/ipykernel_4467/1331416308.py:19: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  final_df = pd.concat([final_df, df])

Took 1.9136121273040771 seconds to finish count number 4
Processing Jeff Nordgaard...
Took 1.768526554107666 seconds to finish count number 5
Processing Robert Nordmann...

/tmp/ipykernel_4467/1331416308.py:19: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  final_df = pd.concat([final_df, df])

Took 1.8007786273956299 seconds to finish count number 6
Processing Johnny Norlander...

/tmp/ipykernel_4467/1331416308.py:19: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  final_df = pd.concat([final_df, df])

Took 2.381840705871582 seconds to finish count number 7
Processing Connie Norman...

/tmp/ipykernel_4467/1331416308.py:19: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  final_df = pd.concat([final_df, df])

Took 1.531477451324463 seconds to finish count number 8
Processing Ken Norman...
Took 3.412689685821533 seconds to finish count number 9
Processing Audie Norris...
Took 2.6322829723358154 seconds to finish count number 10
Processing Miles Norris...

/tmp/ipykernel_4467/1331416308.py:19: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  final_df = pd.concat([final_df, df])

Took 2.459421396255493 seconds to finish count number 11
Processing Moochie Norris...
Took 2.627631902694702 seconds to finish count number 12
Processing Sylvester Norris...

/tmp/ipykernel_4467/1331416308.py:19: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  final_df = pd.concat([final_df, df])

Took 3.501115322113037 seconds to finish count number 13
Processing Zach Norvell Jr....
Took 1.6641929149627686 seconds to finish count number 14
Processing Willie Norwood...

/tmp/ipykernel_4467/1331416308.py:19: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  final_df = pd.concat([final_df, df])

Took 1.641810655593872 seconds to finish count number 15
Processing George Nostrand...

/tmp/ipykernel_4467/1331416308.py:19: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  final_df = pd.concat([final_df, df])

Took 1.6502351760864258 seconds to finish count number 16
Processing Stan Noszka...

/tmp/ipykernel_4467/1331416308.py:19: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  final_df = pd.concat([final_df, df])

Took 1.8978323936462402 seconds to finish count number 17
Processing Mike Novak...

/tmp/ipykernel_4467/1331416308.py:19: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  final_df = pd.concat([final_df, df])

Took 1.7598230838775635 seconds to finish count number 18
Processing Steve Novak...
Took 2.274461507797241 seconds to finish count number 19
Processing Jaylen Nowell...
Took 2.9751930236816406 seconds to finish count number 20
Processing Markquis Nowell...
Took 0.5682878494262695 seconds to finish count number 21
Processing Mel Nowell...

/tmp/ipykernel_4467/1331416308.py:19: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  final_df = pd.concat([final_df, df])

Took 2.354654312133789 seconds to finish count number 22
Processing Dirk Nowitzki...
Took 2.778658390045166 seconds to finish count number 23
Processing Frank Ntilikina...
Took 2.6796960830688477 seconds to finish count number 24
Processing Kendrick Nunn...
Took 1.9602105617523193 seconds to finish count number 25
Processing James Nunnally...
Took 2.5034260749816895 seconds to finish count number 26
Processing Jusuf Nurkic...
Took 0.5326402187347412 seconds to finish count number 27
Processing Dennis Nutt...
Took 2.2347464561462402 seconds to finish count number 28
Processing David Nwaba...
Took 5.526072025299072 seconds to finish count number 29
Processing Jordan Nwora...
Took 0.7311980724334717 seconds to finish count number 30
Processing Julius Nwosu...
Took 1.7150402069091797 seconds to finish count number 31
Processing Charles O'Bannon...
Took 2.675372362136841 seconds to finish count number 32
Processing Ed O'Bannon...
Took 1.746065616607666 seconds to finish count number 33
Processing John O'Boyle...

/tmp/ipykernel_4467/1331416308.py:19: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  final_df = pd.concat([final_df, df])

Took 1.7659642696380615 seconds to finish count number 34
Processing Bob O'Brien...

/tmp/ipykernel_4467/1331416308.py:19: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  final_df = pd.concat([final_df, df])

Took 1.5405027866363525 seconds to finish count number 35
Processing Buckshot O'Brien...

/tmp/ipykernel_4467/1331416308.py:19: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  final_df = pd.concat([final_df, df])

Took 2.969797372817993 seconds to finish count number 36
Processing JJ O'Brien...
Took 1.700707197189331 seconds to finish count number 37
Processing Patrick O'Bryant...
Took 1.7060484886169434 seconds to finish count number 38
Processing Johnny O'Bryant III...
Took 3.9322311878204346 seconds to finish count number 39
Processing Dermie O'Connell...

/tmp/ipykernel_4467/1331416308.py:19: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  final_df = pd.concat([final_df, df])

Took 2.355729579925537 seconds to finish count number 40
Processing Andy O'Donnell...

/tmp/ipykernel_4467/1331416308.py:19: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  final_df = pd.concat([final_df, df])

Took 2.4630331993103027 seconds to finish count number 41
Processing Francis O'Grady...

/tmp/ipykernel_4467/1331416308.py:19: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  final_df = pd.concat([final_df, df])

Took 1.7526845932006836 seconds to finish count number 42
Processing Dick O'Keefe...

/tmp/ipykernel_4467/1331416308.py:19: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  final_df = pd.concat([final_df, df])

Took 5.038938283920288 seconds to finish count number 43
Processing Tommy O'Keefe...

/tmp/ipykernel_4467/1331416308.py:19: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  final_df = pd.concat([final_df, df])

Took 1.4518218040466309 seconds to finish count number 44
Processing Mike O'Koren...
Took 2.424410104751587 seconds to finish count number 45
Processing Grady O'Malley...

/tmp/ipykernel_4467/1331416308.py:19: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  final_df = pd.concat([final_df, df])

Took 2.5885064601898193 seconds to finish count number 46
Processing Jermaine O'Neal...
Took 3.029474973678589 seconds to finish count number 47
Processing Shaquille O'Neal...
Took 2.7669925689697266 seconds to finish count number 48
Processing Royce O'Neale...
Took 0.7040133476257324 seconds to finish count number 49
Processing Mike O'Neill...

/tmp/ipykernel_4467/1331416308.py:19: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  final_df = pd.concat([final_df, df])

Took 1.589787244796753 seconds to finish count number 50
Processing Kyle O'Quinn...
Took 1.9211878776550293 seconds to finish count number 51
Processing Kevin O'Shea...

/tmp/ipykernel_4467/1331416308.py:19: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  final_df = pd.concat([final_df, df])

Took 2.3264918327331543 seconds to finish count number 52
Processing Garland O'Shields...

/tmp/ipykernel_4467/1331416308.py:19: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  final_df = pd.concat([final_df, df])

Took 2.3491179943084717 seconds to finish count number 53
Processing Dan O'Sullivan...
Took 3.70748233795166 seconds to finish count number 54
Processing Charles Oakley...
Took 1.6199462413787842 seconds to finish count number 55
Processing Fabricio Oberto...
Took 1.739274501800537 seconds to finish count number 56
Processing Daniel Ochefu...
Took 1.7423996925354004 seconds to finish count number 57
Processing Greg Oden...
Took 1.7399909496307373 seconds to finish count number 58
Processing Lamar Odom...
Took 1.756939172744751 seconds to finish count number 59
Processing Carlos Ogden...

/tmp/ipykernel_4467/1331416308.py:19: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  final_df = pd.concat([final_df, df])

Took 1.423630952835083 seconds to finish count number 60
Processing Ralph Ogden...

/tmp/ipykernel_4467/1331416308.py:19: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  final_df = pd.concat([final_df, df])

Took 1.8365015983581543 seconds to finish count number 61
Processing Alan Ogg...
Took 1.6419715881347656 seconds to finish count number 62
Processing Don Ohl...

/tmp/ipykernel_4467/1331416308.py:19: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  final_df = pd.concat([final_df, df])

Took 3.20307993888855 seconds to finish count number 63
Processing Tim Ohlbrecht...
Took 1.7071013450622559 seconds to finish count number 64
Processing Semi Ojeleye...
Took 1.4573640823364258 seconds to finish count number 65
Processing Emeka Okafor...
Took 4.892918109893799 seconds to finish count number 66
Processing Jahlil Okafor...
Took 1.9447989463806152 seconds to finish count number 67
Processing Chuma Okeke...
Took 0.8170177936553955 seconds to finish count number 68
Processing Elie Okobo...
Took 1.496845006942749 seconds to finish count number 69
Processing Josh Okogie...
Took 0.5908126831054688 seconds to finish count number 70
Processing Onyeka Okongwu...
Took 2.3175837993621826 seconds to finish count number 71
Processing Isaac Okoro...
Took 0.9170472621917725 seconds to finish count number 72
Processing KZ Okpala...
Took 1.4683723449707031 seconds to finish count number 73
Processing Mehmet Okur...
Took 2.354997158050537 seconds to finish count number 74
Processing Victor Oladipo...
Took 0.5818321704864502 seconds to finish count number 75
Processing Hakeem Olajuwon...
Took 4.646568536758423 seconds to finish count number 76
Processing Mark Olberding...
Took 1.7305912971496582 seconds to finish count number 77
Processing Jawann Oldham...
Took 1.7150607109069824 seconds to finish count number 78
Processing Johnny Oldham...

/tmp/ipykernel_4467/1331416308.py:19: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  final_df = pd.concat([final_df, df])

Took 2.6605610847473145 seconds to finish count number 79
Processing Frank Oleynick...

/tmp/ipykernel_4467/1331416308.py:19: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  final_df = pd.concat([final_df, df])

Took 5.940080404281616 seconds to finish count number 80
Processing John Olive...

/tmp/ipykernel_4467/1331416308.py:19: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  final_df = pd.concat([final_df, df])

Took 1.5404841899871826 seconds to finish count number 81
Processing Brian Oliver...
Took 1.4384019374847412 seconds to finish count number 82
Processing Cameron Oliver...
Took 1.7660257816314697 seconds to finish count number 83
Processing Dean Oliver...
Took 1.3236479759216309 seconds to finish count number 84
Processing Jimmy Oliver...
Took 1.7415223121643066 seconds to finish count number 85
Processing Kevin Ollie...
Took 4.99868106842041 seconds to finish count number 86
Processing Gene Ollrich...

/tmp/ipykernel_4467/1331416308.py:19: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  final_df = pd.concat([final_df, df])

Took 1.4244017601013184 seconds to finish count number 87
Processing Michael Olowokandi...
Took 2.3776018619537354 seconds to finish count number 88
Processing Enoch Olsen...

/tmp/ipykernel_4467/1331416308.py:19: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  final_df = pd.concat([final_df, df])

Took 1.5221846103668213 seconds to finish count number 89
Processing Kelly Olynyk...
Took 0.6989376544952393 seconds to finish count number 90
Processing Eugene Omoruyi...
Took 4.511230945587158 seconds to finish count number 91
Processing Miye Oni...
Took 2.4555091857910156 seconds to finish count number 92
Processing Arinze Onuaku...
Took 3.275258779525757 seconds to finish count number 93
Processing Chinanu Onuaku...
Took 1.641481876373291 seconds to finish count number 94
Processing Barry Orms...

/tmp/ipykernel_4467/1331416308.py:19: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  final_df = pd.concat([final_df, df])

Took 1.6572065353393555 seconds to finish count number 95
Processing Johnny Orr...

/tmp/ipykernel_4467/1331416308.py:19: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  final_df = pd.concat([final_df, df])

Took 2.453933000564575 seconds to finish count number 96
Processing Louis Orr...
Took 4.717170000076294 seconds to finish count number 97
Processing Jose Ortiz...
Took 1.5069818496704102 seconds to finish count number 98
Processing Daniel Orton...
Took 1.5382437705993652 seconds to finish count number 99
collecting chunk 3300 through 3400
start point = 3300
Processing Chuck Osborne...
Took 1.454726219177246 seconds to finish count number 0
Processing Cedi Osman...

/tmp/ipykernel_4467/1331416308.py:19: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  final_df = pd.concat([final_df, df])

Took 1.450833797454834 seconds to finish count number 1
Processing Wally Osterkorn...

/tmp/ipykernel_4467/1331416308.py:19: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  final_df = pd.concat([final_df, df])

Took 2.6672284603118896 seconds to finish count number 2
Processing Greg Ostertag...
Took 1.5822858810424805 seconds to finish count number 3
Processing Matt Othick...
Took 1.3654143810272217 seconds to finish count number 4
Processing Don Otten...

/tmp/ipykernel_4467/1331416308.py:19: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  final_df = pd.concat([final_df, df])

Took 2.8688862323760986 seconds to finish count number 5
Processing Mac Otten...

/tmp/ipykernel_4467/1331416308.py:19: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  final_df = pd.concat([final_df, df])

Took 1.8093113899230957 seconds to finish count number 6
Processing Daniel Oturu...
Took 1.889129877090454 seconds to finish count number 7
Processing Kelly Oubre Jr....
Took 1.8112366199493408 seconds to finish count number 8
Processing Bo Outlaw...
Took 1.7188358306884766 seconds to finish count number 9
Processing Travis Outlaw...
Took 1.8934180736541748 seconds to finish count number 10
Processing Claude Overton...

/tmp/ipykernel_4467/1331416308.py:19: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  final_df = pd.concat([final_df, df])

Took 1.516951322555542 seconds to finish count number 11
Processing Doug Overton...
Took 1.642035961151123 seconds to finish count number 12
Processing Andre Owens...
Took 2.2424728870391846 seconds to finish count number 13
Processing Billy Owens...
Took 4.206686496734619 seconds to finish count number 14
Processing Chris Owens...
Took 14.735680103302002 seconds to finish count number 15
Processing Eddie Owens...

/tmp/ipykernel_4467/1331416308.py:19: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  final_df = pd.concat([final_df, df])

Took 2.8846657276153564 seconds to finish count number 16
Processing James Owens...

/tmp/ipykernel_4467/1331416308.py:19: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  final_df = pd.concat([final_df, df])

Took 12.293970584869385 seconds to finish count number 17
Processing Jim Owens...

/tmp/ipykernel_4467/1331416308.py:19: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  final_df = pd.concat([final_df, df])

Took 9.011051654815674 seconds to finish count number 18
Processing Keith Owens...
Took 1.530191421508789 seconds to finish count number 19
Processing Larry Owens...
Took 1.500131368637085 seconds to finish count number 20
Processing Tariq Owens...
Took 4.428017854690552 seconds to finish count number 21
Processing Tom Owens...
Took 1.7627627849578857 seconds to finish count number 22
Processing Ray Owes...
Took 2.232111692428589 seconds to finish count number 23
Processing Olumide Oyedeji...
Took 1.6625380516052246 seconds to finish count number 24
Processing Joe Pace...

/tmp/ipykernel_4467/1331416308.py:19: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  final_df = pd.concat([final_df, df])

Took 1.5318949222564697 seconds to finish count number 25
Processing Zaza Pachulia...
Took 1.5980603694915771 seconds to finish count number 26
Processing Robert Pack...
Took 3.1715331077575684 seconds to finish count number 27
Processing Gerald Paddio...
Took 1.733647108078003 seconds to finish count number 28
Processing Scott Padgett...
Took 1.5360620021820068 seconds to finish count number 29
Processing Jaysean Paige...
Took 1.5342662334442139 seconds to finish count number 30
Processing Marcus Paige...
Took 1.568352222442627 seconds to finish count number 31
Processing Fred Paine...

/tmp/ipykernel_4467/1331416308.py:19: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  final_df = pd.concat([final_df, df])

Took 2.9699082374572754 seconds to finish count number 32
Processing Milt Palacio...
Took 2.771535873413086 seconds to finish count number 33
Processing Togo Palazzi...

/tmp/ipykernel_4467/1331416308.py:19: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  final_df = pd.concat([final_df, df])

Took 1.5007848739624023 seconds to finish count number 34
Processing Jim Palmer...

/tmp/ipykernel_4467/1331416308.py:19: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  final_df = pd.concat([final_df, df])

Took 2.2519896030426025 seconds to finish count number 35
Processing John Palmer...

/tmp/ipykernel_4467/1331416308.py:19: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  final_df = pd.concat([final_df, df])

Took 2.2705044746398926 seconds to finish count number 36
Processing Trayvon Palmer...
Took 6.7490434646606445 seconds to finish count number 37
Processing Walter Palmer...
Took 1.5273826122283936 seconds to finish count number 38
Processing Kevin Pangos...
Took 1.4891703128814697 seconds to finish count number 39
Processing Andy Panko...
Took 2.3269832134246826 seconds to finish count number 40
Processing Georgios Papagiannis...
Took 2.555656909942627 seconds to finish count number 41
Processing Kostas Papanikolaou...
Took 2.433182954788208 seconds to finish count number 42
Processing Jannero Pargo...
Took 2.556692123413086 seconds to finish count number 43
Processing Jeremy Pargo...
Took 1.564648151397705 seconds to finish count number 44
Processing Estes Parham...

/tmp/ipykernel_4467/1331416308.py:19: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  final_df = pd.concat([final_df, df])

Took 2.3952760696411133 seconds to finish count number 45
Processing Robert Parish...
Took 1.7947633266448975 seconds to finish count number 46
Processing Medford Park...

/tmp/ipykernel_4467/1331416308.py:19: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  final_df = pd.concat([final_df, df])

Took 2.3427376747131348 seconds to finish count number 47
Processing Anthony Parker...
Took 2.7548818588256836 seconds to finish count number 48
Processing Jabari Parker...
Took 2.6046924591064453 seconds to finish count number 49
Processing Smush Parker...
Took 1.5343682765960693 seconds to finish count number 50
Processing Sonny Parker...
Took 1.519111156463623 seconds to finish count number 51
Processing Tony Parker...
Took 2.673311233520508 seconds to finish count number 52
Processing Jack Parkinson...

/tmp/ipykernel_4467/1331416308.py:19: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  final_df = pd.concat([final_df, df])

Took 8.369545936584473 seconds to finish count number 53
Processing Cherokee Parks...
Took 12.544695138931274 seconds to finish count number 54
Processing Jack Parr...

ReadTimeout: HTTPSConnectionPool(host='stats.nba.com', port=443): Read timed out. (read timeout=30)